Repository git-goods/git-animal-client, pull requests merged in 2024-09, with the labels that each got.

#168 Admin 로그인 로직 변경 (임시 로그인 로직 제거)
  apps/admin/app/root.tsx
  apps/admin/app/routes/_index.tsx
  apps/admin/app/routes/auction.all-buy.tsx
  apps/admin/app/routes/auth-main.tsx
  apps/admin/app/routes/auth.tsx
  packages/api/src/auction/index.ts
  packages/api/src/auction/schema.ts
  packages/api/src/auction/type.ts
Labels: diff: L, area: API

#169 Product Search 컴포넌트 Styled-component 제거
  apps/web/panda.config.ts
  apps/web/src/app/shop/Search/index.tsx
  apps/web/src/components/Modal/Modal.tsx
  packages/ui/icon/src/icons/CloseIcon.tsx
  packages/ui/icon/src/icons/SearchIcon.tsx
  packages/ui/icon/src/index.ts
Labels: area: Web, diff: L, area: UI

#170 상점 페이지에 정렬 기능 추가
  apps/web/src/apis/auctions/useGetProducts.ts
  apps/web/src/app/shop/HistoryTable.tsx
  apps/web/src/app/shop/ProductTable.tsx
  apps/web/src/app/shop/SellListSection/index.tsx
  apps/web/src/components/ProductTable/ShopTableRowView.tsx
  packages/api/src/auction/getProducts.ts
  packages/api/src/auction/schema.ts
Labels: area: Web, diff: M, area: API

#174 refactor: octokit hanlder api 추가 & 사용
  apps/web/src/apis/github/core.ts
  apps/web/src/apis/github/useCreateComment.ts
  apps/web/src/apis/github/usePostIssue.ts
Labels: area: Web, diff: XS

#173 Fix : Feedback Form 에러 수정
  apps/web/package.json
  apps/web/src/apis/github/core.ts
  apps/web/src/apis/github/useCreateComment.ts
  apps/web/src/apis/github/usePostFeedback.ts
  apps/web/src/apis/github/usePostIssue.ts
  apps/web/src/components/FeedbackForm.tsx
  pnpm-lock.yaml
Labels: area: Web, diff: M

#171 Product 탭 정렬 기능 코드 리팩토링
  apps/web/src/app/shop/HistoryTable.tsx
  apps/web/src/app/shop/ProductTable.tsx
  apps/web/src/app/shop/SearchOption/OrderTypeSelect.tsx
  apps/web/src/app/shop/SearchOption/PersonaType.tsx
  apps/web/src/app/shop/SearchOption/SearchOptionSelect.tsx
  apps/web/src/app/shop/SearchOption/SortDirectionSelect.tsx
  apps/web/src/app/shop/SearchOption/index.ts
Labels: area: Web, diff: S

#172 History 정렬 기능 추가
  apps/web/src/apis/auctions/useGetHistory.ts
  apps/web/src/app/shop/HistoryTable.tsx
  apps/web/src/app/shop/ProductTable.tsx
  apps/web/src/app/shop/useSearchOptions.ts
  packages/api/src/auction/getProductHistories.ts
  packages/api/src/auction/getProducts.ts
  packages/api/src/auction/index.ts
  packages/api/src/auction/schema.ts
Labels: area: Web, diff: M, area: API

#177 Hotfix : Auth Logout 로직 수정
  apps/web/src/apis/interceptor.ts
  apps/web/src/apis/user/useGetUser.ts
  apps/web/src/app/api/auth/signOut/route.ts
  apps/web/src/auth.ts
  apps/web/src/components/Layout/Header_v2.tsx
  apps/web/src/components/Layout/LoginBtn.tsx
Labels: area: Web, diff: S

#180 Remove Styled-component
  apps/web/package.json
  apps/web/src/app/[locale]/mypage/FarmType.tsx
  apps/web/src/app/[locale]/mypage/OneType.tsx
  apps/web/src/app/[locale]/mypage/index.styles.ts
  apps/web/src/app/[locale]/shop/GotchaSection.tsx
  apps/web/src/app/[locale]/shop/SellListSection/EditModal.tsx
  apps/web/src/app/[locale]/shop/SellSection/SellInputRow.tsx
  apps/web/src/app/[locale]/start/page.tsx
  apps/web/src/components/Button.tsx
  apps/web/src/components/Button/Button.tsx
  apps/web/src/components/ClientProvider.tsx
  apps/web/src/components/DottedBox/DottedBox.styles.ts
  apps/web/src/components/DottedBox/DottedDoubleBox.tsx
  apps/web/src/components/GlobalComponent/GlobalComponent.tsx
  apps/web/src/components/Input.tsx
  apps/web/src/components/Loading/Loading.tsx
  apps/web/src/components/Pagination.tsx
  apps/web/src/components/ProductTable/ShopTableBackground.tsx
  apps/web/src/components/Select/Label.tsx
  apps/web/src/components/Select/Option.tsx
  apps/web/src/components/Select/Panel.tsx
  apps/web/src/components/Select/Root.tsx
  apps/web/src/components/SelectAnimal.tsx
  apps/web/src/components/SelectAnimals.tsx
  apps/web/src/components/SnackBar/SnackBarProvider.tsx
  apps/web/src/components/SnackBar/index.stories.tsx
  apps/web/src/components/SnackBar/index.tsx
  apps/web/src/components/SnackBar/useSnackBar.ts
  apps/web/src/components/TextArea.tsx
  apps/web/src/lib/registry.tsx
  apps/web/src/styles/GlobalStyle.tsx
  apps/web/src/styles/styled-components.d.ts
  apps/web/src/styles/theme/index.ts
  apps/web/src/styles/theme/typo.stories.tsx
  apps/web/src/styles/theme/typo.ts
  pnpm-lock.yaml
Labels: area: Web, diff: XL

#179 Axios Intercepter 수정
  apps/web/package.json
  apps/web/src/apis/interceptor.ts
  apps/web/src/apis/user/useGetUser.ts
  apps/web/src/app/[locale]/auth/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/SessionLoader.tsx
  packages/api/src/_instance/default.ts
  packages/api/src/_instance/safe.ts
  packages/api/src/index.ts
  pnpm-lock.yaml
Labels: area: Web, diff: M, area: API

#181 다국어 - 한국어 적용중
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/package.json
  apps/web/src/app/[locale]/dev/page.tsx
  apps/web/src/app/[locale]/mypage/page.tsx
  apps/web/src/components/Layout/Header2.tsx
  apps/web/src/components/Layout/Header_v2.tsx
  apps/web/src/components/Layout/LanguageSelector.tsx
  apps/web/src/components/Layout/Layout.tsx
  apps/web/src/components/Layout/LoginBtn.tsx
  apps/web/src/components/Layout/LoginButton.tsx
  apps/web/src/components/Loading/Loading.tsx
  apps/web/src/components/Loading/LoadingProvider.tsx
  apps/web/src/components/Modal/Modal.tsx
  apps/web/src/components/NoticeToast/NoticeToast.tsx
  apps/web/src/i18n/routing.ts
  apps/web/src/middleware.ts
  apps/web/src/utils/copy.ts
  packages/ui/icon/src/icons/LangaugeIcon.tsx
  pnpm-lock.yaml
Labels: area: Web, diff: L, area: UI

#184 header v2 사용
  apps/web/src/app/[locale]/dev/page.tsx
  apps/web/src/app/[locale]/mypage/page.tsx
  apps/web/src/app/[locale]/not-found.tsx
  apps/web/src/app/[locale]/page.tsx
  apps/web/src/app/[locale]/shop/page.tsx
  apps/web/src/components/Layout/Header.tsx
  apps/web/src/components/Layout/Header2.tsx
Labels: area: Web, diff: M

#187 feat: using error page
  apps/web/src/apis/slack/sendMessage.ts
  apps/web/src/app/[locale]/error.tsx
  apps/web/src/app/[locale]/not-found.tsx
  apps/web/src/app/not-found.tsx
  apps/web/src/components/Error/ErrorPage.tsx
  apps/web/src/components/LoginButton.tsx
  apps/web/src/constants/env.ts
  apps/web/types/globals.d.ts
  turbo.json
Labels: area: Web, diff: M

#185 Auction 섹션 리뉴얼
  apps/admin/app/routes/shop.drop-pet.tsx
  apps/web/panda.config.ts
  apps/web/public/shop/carrot.webp
  apps/web/public/shop/coin.webp
  apps/web/public/shop/land.webp
  apps/web/src/apis/QueryClientProvider.tsx
  apps/web/src/apis/interceptor.ts
  apps/web/src/apis/user/useGetAllPets.ts
  apps/web/src/app/[locale]/dev/page.tsx
  apps/web/src/app/[locale]/mypage/page.tsx
  apps/web/src/app/[locale]/not-found.tsx
  apps/web/src/app/[locale]/page.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/Background.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/DefaultTabRight.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/HistoryTable.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/ProductTable.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/SellSection/PetList.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/SellSection/SellInputRow.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/SellSection/SellSection.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/SellSection/index.ts
  apps/web/src/app/[locale]/shop/AuctionSection/Tab.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/index.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/table.styles.ts
  apps/web/src/app/[locale]/shop/HistoryTable.tsx
  apps/web/src/app/[locale]/shop/SearchOption/OrderTypeSelect.tsx
  apps/web/src/app/[locale]/shop/SearchOption/PersonaType.tsx
  apps/web/src/app/[locale]/shop/SearchOption/SearchOptionSelect.tsx
  apps/web/src/app/[locale]/shop/SearchOption/SortDirectionSelect.tsx
  apps/web/src/app/[locale]/shop/SellListSection/index.tsx
  apps/web/src/app/[locale]/shop/ShopInner.tsx
  apps/web/src/app/[locale]/shop/Tab.tsx
  apps/web/src/app/[locale]/shop/page.tsx
  apps/web/src/app/[locale]/shop/type.ts
  apps/web/src/app/[locale]/shop/useSearchOptions.ts
  apps/web/src/components/AnimalCard/AnimalCard.tsx
  apps/web/src/components/ClientProvider.tsx
  apps/web/src/components/Layout/Header.tsx
  apps/web/src/components/Layout/Header2.tsx
  apps/web/src/components/NoticeToast/NoticeToast.tsx
  apps/web/src/components/Pagination.tsx
  apps/web/src/components/ProductTable/ShopTableBackground.tsx
  apps/web/src/components/ProductTable/ShopTableRowView.tsx
  apps/web/src/utils/animals.ts
  packages/ui/icon/src/icons/SearchIcon.tsx
  packages/ui/panda/src/components/Button/cva.ts
Labels: area: Web, diff: XL, area: UI

#186 My Points + install `@suspensive/react`
  apps/web/package.json
  apps/web/src/app/[locale]/layout.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/Background.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/HistoryTable.tsx
  apps/web/src/app/[locale]/shop/FloatingPointSection/FloatingPointSection.tsx
  apps/web/src/app/[locale]/shop/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/UserPoint.tsx
  pnpm-lock.yaml
Labels: area: Web, diff: M

#183 Design System 추가
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/next.config.mjs
  apps/web/public/layout/gitanimals-string-logo.svg
  apps/web/src/app/[locale]/dev/page.tsx
  apps/web/src/app/[locale]/mypage/page.tsx
  apps/web/src/app/[locale]/page.tsx
  apps/web/src/app/[locale]/shop/page.tsx
  apps/web/src/components/Layout/DesktopGNB.tsx
  apps/web/src/components/Layout/GNB.tsx
  apps/web/src/components/Layout/Header.tsx
  apps/web/src/components/Layout/LoginBtn.tsx
  apps/web/src/components/Layout/LoginOutBtn.tsx
  apps/web/src/components/Layout/MobileGNB.tsx
  apps/web/src/components/Layout/menu.constants.ts
  packages/ui/icon/src/icons/GithubIcon.tsx
  packages/ui/panda/src/components/Button/cva.ts
  packages/ui/panda/src/theme/semanticTokens.ts
  packages/ui/token/src/color/gray.ts
  packages/ui/token/src/color/index.ts
Labels: area: Web, diff: XL, area: UI

#182 Design System > Card 컴포넌트 구현
  apps/web/public/animal-card/card-back-A_PLUS.webp
  apps/web/public/animal-card/card-back-B_MINUS.webp
  apps/web/public/animal-card/card-back-EX.webp
  apps/web/public/animal-card/card-back-S_PLUS.webp
  apps/web/public/animal-card/card-bg-A_PLUS.webp
  apps/web/public/animal-card/card-bg-B_MINUS.webp
  apps/web/public/animal-card/card-bg-EX.webp
  apps/web/public/animal-card/card-bg-S_PLUS.webp
  apps/web/public/animal-card/card-thumbnail-A_PLUS.webp
  apps/web/public/animal-card/card-thumbnail-B_MINUS.webp
  apps/web/public/animal-card/card-thumbnail-EX.webp
  apps/web/public/animal-card/card-thumbnail-S_PLUS.webp
  apps/web/src/app/[locale]/landing/AvailablePetSection/AnimalSlider.tsx
  apps/web/src/components/AnimalCard/AnimalCard.style.ts
  apps/web/src/components/AnimalCard/AnimalCard.tsx
  apps/web/src/hooks/query/render/useGetAllPersona.ts
  packages/ui/panda/src/components/Card/Card.tsx
  packages/ui/panda/src/components/Card/CardBack.tsx
  packages/ui/panda/src/components/Card/index.ts
  packages/ui/panda/src/components/index.ts
Labels: area: Web, diff: M, area: UI

#189 펫 하나 뽑기 기능 리뉴얼
  apps/web/public/shop/pet-gotcha-bg.webp
  apps/web/public/shop/pet-gotcha-image-card.webp
  apps/web/src/actions/gotcha.ts
  apps/web/src/apis/gotcha/useGotcha.ts
  apps/web/src/apis/slack/sendMessage.ts
  apps/web/src/app/[locale]/dev/page.tsx
  apps/web/src/app/[locale]/error.tsx
  apps/web/src/app/[locale]/shop/GotchaSection.tsx
  apps/web/src/app/[locale]/shop_v2/PetGotcha/CardFlipGame.tsx
  apps/web/src/app/[locale]/shop_v2/PetGotcha/OnePet.tsx
  apps/web/src/app/[locale]/shop_v2/PetGotcha/PetGotcha.tsx
  apps/web/src/app/[locale]/shop_v2/PetGotcha/index.ts
  apps/web/src/app/[locale]/shop_v2/page.tsx
  apps/web/src/app/not-found.tsx
  apps/web/src/components/Error/ErrorPage.tsx
  apps/web/src/components/Layout/Header.tsx
  apps/web/src/components/LoginButton.tsx
  apps/web/src/constants/env.ts
  apps/web/src/hooks/useTimer.tsx
  apps/web/types/globals.d.ts
  packages/api/src/gotcha/index.ts
  packages/api/src/gotcha/postGotcha.ts
  packages/api/src/index.ts
  packages/ui/panda/src/components/Card/Card.tsx
  turbo.json
Labels: area: Web, diff: XL, area: API, area: UI

#190 펫 하나 뽑기 기능 번역 추가
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/src/app/[locale]/shop_v2/PetGotcha/OnePet.tsx
  apps/web/src/app/[locale]/shop_v2/PetGotcha/PetGotcha.tsx
  apps/web/src/features/.gitkeep
  apps/web/src/serverActions/gotcha.ts
Labels: area: Web, diff: XS

#192 모바일 GNB 추가
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/package.json
  apps/web/src/components/AdaptiveLink.tsx
  apps/web/src/components/Layout/DesktopGNB.tsx
  apps/web/src/components/Layout/GNB.tsx
  apps/web/src/components/Layout/LanguageSelector.tsx
  apps/web/src/components/Layout/MobileGNB.tsx
  apps/web/src/components/Layout/menu.constants.tsx
  packages/ui/icon/src/icons/RadioButton.tsx
  packages/ui/icon/src/index.ts
  packages/util/common/src/index.ts
  packages/util/common/src/url.ts
Labels: area: Web, diff: L, area: UI, area: Utils

#196 디자인 시스템 모달 임시 추가 (edit modal)
  apps/web/src/app/[locale]/shop/SellListSection/EditModal.tsx
  packages/ui/panda/package.json
  packages/ui/panda/src/components/Modal/Modal.tsx
  packages/ui/panda/src/components/Modal/index.ts
  packages/ui/panda/src/components/index.ts
  pnpm-lock.yaml
Labels: area: Web, diff: M, area: UI

#195 이런 저런 Shop 버그들 수정
  apps/web/panda.config.ts
  apps/web/src/app/[locale]/shop/AuctionSection/HistoryTable.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/ProductTable.tsx
  apps/web/src/app/[locale]/shop/SellListSection/EditModal.tsx
  apps/web/src/app/[locale]/shop/SellListSection/index.tsx
  apps/web/src/components/Modal/Modal.tsx
  apps/web/src/components/ProductTable/ShopTableRowView.tsx
  packages/ui/panda/package.json
  packages/ui/panda/src/components/Modal/Modal.tsx
  packages/ui/panda/src/components/Modal/index.ts
  packages/ui/panda/src/components/index.ts
  pnpm-lock.yaml
Labels: area: Web, diff: S

#194 Shop 페이지에 작업한 뽑기 기능 연결
  apps/web/panda.config.ts
  apps/web/src/app/[locale]/shop/AuctionSection/HistoryTable.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/ProductTable.tsx
  apps/web/src/app/[locale]/shop/GotchaSection.tsx
  apps/web/src/app/[locale]/shop/PetGotcha/CardFlipGame.tsx
  apps/web/src/app/[locale]/shop/PetGotcha/OnePet.tsx
  apps/web/src/app/[locale]/shop/PetGotcha/PetGotcha.tsx
  apps/web/src/app/[locale]/shop/PetGotcha/index.ts
  apps/web/src/app/[locale]/shop/SellListSection/EditModal.tsx
  apps/web/src/app/[locale]/shop/SellListSection/index.tsx
  apps/web/src/app/[locale]/shop/page.tsx
  apps/web/src/app/[locale]/shop_v2/page.tsx
  apps/web/src/components/Modal/Modal.tsx
  apps/web/src/components/ProductTable/ShopTableRowView.tsx
  packages/ui/panda/package.json
  packages/ui/panda/src/components/Modal/Modal.tsx
  packages/ui/panda/src/components/Modal/index.ts
  packages/ui/panda/src/components/index.ts
  pnpm-lock.yaml
Labels: area: Web, diff: L, area: UI

#197 배포 전 마지막 fix
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/src/app/[locale]/shop/AuctionSection/HistoryTable.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/ProductTable.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/SellSection/SellInputRow.tsx
  apps/web/src/app/[locale]/shop/PetGotcha/OnePet.tsx
  apps/web/src/app/[locale]/shop/SearchOption/OrderTypeSelect.tsx
  apps/web/src/app/[locale]/shop/SearchOption/SortDirectionSelect.tsx
  apps/web/src/app/[locale]/shop/SellListSection/index.tsx
  apps/web/src/app/[locale]/shop/page.tsx
  apps/web/src/app/[locale]/shop/useSearchOptions.ts
  apps/web/src/components/GlobalComponent/GlobalComponent.tsx
  apps/web/src/components/Layout/DesktopGNB.tsx
  apps/web/src/components/Layout/LanguageSelector.tsx
  apps/web/src/components/Layout/menu.constants.tsx
  apps/web/src/components/NoticeToast/NoticeToast.tsx
  apps/web/src/components/NoticeToast/notice.tsx
  apps/web/src/components/ProductTable/ShopTableRowView.tsx
  apps/web/src/constants/action.ts
  packages/util/common/src/index.ts
  packages/util/common/src/string.ts
Labels: area: Web, diff: L, area: Utils

#199 feat: 뽑기 실패 에러 로깅 추가 정보
  apps/web/src/app/[locale]/shop/PetGotcha/OnePet.tsx
Labels: area: Web, diff: XS

#198 상점 페이지 리뉴얼 버그 픽스 - 1
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/public/teammate/jiwoo.webp
  apps/web/public/teammate/yuna.webp
  apps/web/src/app/[locale]/dev/page.tsx
  apps/web/src/app/[locale]/landing/Footer/Footer.tsx
  apps/web/src/app/[locale]/mypage/page.tsx
  apps/web/src/app/[locale]/page.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/SellSection/PetList.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/index.tsx
  apps/web/src/app/[locale]/shop/page.tsx
  apps/web/src/app/globals.css
  apps/web/src/components/GNB/DesktopGNB.tsx
  apps/web/src/components/GNB/GNB.tsx
  apps/web/src/components/GNB/LanguageSelector.tsx
  apps/web/src/components/GNB/MobileGNB.tsx
  apps/web/src/components/GNB/menu.constants.tsx
  apps/web/src/components/Layout/Header.tsx
  apps/web/src/components/Layout/Layout.tsx
  apps/web/src/components/NoticeToast/notice.tsx
  apps/web/src/middleware.ts
Labels: area: Web, diff: M

#200 마이페이지 리뉴얼
  apps/web/.eslintrc.json
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/public/mypage/bg-cloud.webp
  apps/web/public/mypage/coin.svg
  apps/web/src/apis/interceptor.ts
  apps/web/src/apis/user/useGetAllPets.ts
  apps/web/src/apis/user/useGetUser.ts
  apps/web/src/app/[locale]/layout.tsx
  apps/web/src/app/[locale]/mypage/FarmType.tsx
  apps/web/src/app/[locale]/mypage/OneType.tsx
  apps/web/src/app/[locale]/mypage/PersonaList.tsx
  apps/web/src/app/[locale]/mypage/ProfileSection.tsx
  apps/web/src/app/[locale]/mypage/RightSection.tsx
  apps/web/src/app/[locale]/mypage/page.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/SellSection/PetList.tsx
  apps/web/src/components/Gitanimals.tsx
  packages/api/src/render/getAllMyPets.ts
  packages/ui/panda/src/components/Banner/Banner.tsx
  packages/ui/panda/src/components/Banner/LevelBanner.tsx
  packages/ui/panda/src/components/Banner/cva.ts
  packages/ui/panda/src/components/Banner/index.ts
  packages/ui/panda/src/components/Skeleton/Skeleton.tsx
  packages/ui/panda/src/components/Skeleton/cva.tsx
  packages/ui/panda/src/components/Skeleton/index.ts
  packages/ui/panda/src/components/Textfield/TextField.tsx
  packages/ui/panda/src/components/Textfield/index.ts
  packages/ui/panda/src/components/index.ts
  packages/util/common/src/url.ts
Labels: area: Web, diff: XL, area: API, area: UI, area: Utils

#201 마이페이지 리뉴얼 마이너 버그 픽스
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/src/app/[locale]/mypage/PersonaList.tsx
  apps/web/src/app/[locale]/mypage/page.tsx
  apps/web/src/components/NoticeToast/notice.tsx
  packages/ui/panda/src/components/Banner/Banner.tsx
  packages/ui/panda/src/components/Banner/cva.ts
Labels: area: Web, diff: S, area: UI
