Repository git-goods/git-animal-client, pull requests merged in 2024-12, with the labels that each got.

#244 크리스마스 이벤트 페이지 초기 생성 및 공통 컴포넌트 분리
  apps/web/public/event/HALLOWEEN_2024/og-image.png
  apps/web/public/event/HALLOWEEN_2024_STAR_BONUS/og-image.png
  apps/web/public/event/christmas/card-bg-christmas.webp
  apps/web/public/event/christmas/christmas-bg.webp
  apps/web/public/event/christmas/christmas-icon.webp
  apps/web/public/event/christmas/christmas-logo.svg
  apps/web/public/event/christmas/unknown-rate.webp
  apps/web/public/event/og-image-event.png
  apps/web/src/app/[locale]/event/(christmas)/CardList.tsx
  apps/web/src/app/[locale]/event/(christmas)/ChristmasCard.tsx
  apps/web/src/app/[locale]/event/(christmas)/Draw.tsx
  apps/web/src/app/[locale]/event/(christmas)/index.tsx
  apps/web/src/app/[locale]/event/(common)/CardList.tsx
  apps/web/src/app/[locale]/event/(common)/Draw.tsx
  apps/web/src/app/[locale]/event/(common)/EventEndOverlay.tsx
  apps/web/src/app/[locale]/event/(halloween)/CardList.tsx
  apps/web/src/app/[locale]/event/(halloween)/Content.tsx
  apps/web/src/app/[locale]/event/(halloween)/Draw.tsx
  apps/web/src/app/[locale]/event/(halloween)/HalloweenCard.tsx
  apps/web/src/app/[locale]/event/(halloween)/KingGhost.tsx
  apps/web/src/app/[locale]/event/[eventCode]/layout.tsx
  apps/web/src/app/[locale]/event/[eventCode]/page.tsx
Labels: area: Web, diff: XL

#243 inbox 기능 추가
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/src/components/GNB/DesktopGNB.tsx
  apps/web/src/components/GNB/Notification.tsx
  apps/web/src/components/GlobalComponent/GlobalComponent.tsx
  packages/api/src/inbox/getAllUnreadInbox.ts
  packages/api/src/inbox/index.ts
  packages/api/src/inbox/readInboxById.ts
  packages/api/src/inbox/schema.ts
  packages/api/src/index.ts
  packages/lib/react-query/src/inbox/index.ts
  packages/lib/react-query/src/inbox/queries.ts
  packages/lib/react-query/src/inbox/useReadInbox.ts
  packages/lib/react-query/src/index.ts
Labels: area: Web, diff: L, area: API, area: Lib

#245 크리스마스 이벤트 - 눈내리기 모션 추가
  apps/web/src/app/[locale]/event/(christmas)/Snowflake.tsx
  apps/web/src/app/[locale]/event/(christmas)/index.tsx
  apps/web/src/app/[locale]/event/(common)/BackgroundSection.tsx
Labels: area: Web, diff: S

#246 크리스마스 배경 구매 추가
  apps/web/package.json
  apps/web/src/app/[locale]/event/(common)/BackgroundSection.tsx
  apps/web/src/app/[locale]/event/(common)/BackgroundSlider/Arrow.tsx
  apps/web/src/app/[locale]/event/(common)/BackgroundSlider/BackgroundSlider.tsx
  apps/web/src/app/[locale]/event/[eventCode]/layout.tsx
  apps/web/src/app/[locale]/event/[eventCode]/page.tsx
  apps/web/src/app/[locale]/landing/Footer/Footer.style.ts
  apps/web/src/app/[locale]/landing/Footer/Footer.tsx
  apps/web/src/app/[locale]/page.tsx
  apps/web/src/middleware.ts
  packages/lib/react-query/src/render/queries.ts
  packages/lib/react/src/hooks/index.ts
  packages/lib/react/src/hooks/useIsMobile/debounce.ts
  packages/lib/react/src/hooks/useIsMobile/index.ts
  packages/lib/react/src/hooks/useIsMobile/useIsMobile.ts
  pnpm-lock.yaml
Labels: area: Web, diff: L, area: Lib

#248 [실험실] 같은 레벨, 타입의 펫 한번에 팔기 기능
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/src/app/[locale]/laboratory/_component/AlertDialog.tsx
  apps/web/src/app/[locale]/laboratory/_component/ConfirmDialog.tsx
  apps/web/src/app/[locale]/laboratory/layout.tsx
  apps/web/src/app/[locale]/laboratory/page.tsx
  apps/web/src/app/[locale]/laboratory/property-pet-sell/page.tsx
  apps/web/src/app/[locale]/mypage/layout.tsx
  apps/web/src/components/GlobalComponent/GlobalComponent.tsx
  apps/web/src/components/GlobalComponent/useDialog.tsx
  packages/api/src/shop/dropPet.ts
Labels: area: Web, diff: L, area: API

#249 feat: notice inbox를 추가했어요
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/src/components/GNB/DesktopGNB.tsx
  apps/web/src/components/GNB/Inbox/Notification.tsx
  apps/web/src/components/GNB/Inbox/inbox.contants.ts
  apps/web/src/components/NoticeToast/NoticeToast.tsx
Labels: area: Web, diff: M

#250 fix: show more pet button to anchor
  apps/web/src/app/[locale]/landing/AvailablePetSection/AvailablePetSection.tsx
  packages/ui/panda/src/components/Button/Button.tsx
Labels: area: Web, diff: XS, area: UI

#253 code refactor
  apps/web/panda.config.ts
  apps/web/src/app/[locale]/laboratory/property-pet-sell/page.tsx
  apps/web/src/app/[locale]/landing/ChoosePetSection/ChoosePetSection.tsx
  apps/web/src/app/[locale]/landing/MainSection/MainSection.tsx
  apps/web/src/app/[locale]/layout.tsx
  apps/web/src/components/AuthButton.tsx
  apps/web/src/components/Button.tsx
  apps/web/src/components/Button/SmallButton.tsx
  apps/web/src/components/CheckTime.tsx
  apps/web/src/components/GNB/DesktopGNB.tsx
  apps/web/src/components/GNB/Notification/InboxList.tsx
  apps/web/src/components/GNB/Notification/Notification.tsx
  apps/web/src/components/GNB/Notification/notification.contants.ts
  apps/web/src/components/Global/ClientProvider.tsx
  apps/web/src/components/Global/FeedbackForm.tsx
  apps/web/src/components/Global/GlobalComponent.tsx
  apps/web/src/components/Global/Monitoring.tsx
  apps/web/src/components/Global/SessionLoader.tsx
  apps/web/src/components/Global/index.ts
  apps/web/src/components/Global/useDialog.tsx
  apps/web/src/components/GlobalComponent/index.ts
  apps/web/src/components/LoginButton.tsx
  apps/web/src/components/LogoutButton.tsx
  apps/web/src/components/MediaQuery/MediaQuery.tsx
  apps/web/src/components/MediaQuery/index.ts
  apps/web/src/components/NoticeToast/notice.tsx
  apps/web/src/components/SelectAnimal.tsx
  apps/web/src/components/SelectAnimals.tsx
  apps/web/tsconfig.json
  packages/ui/panda/panda.config.ts
  packages/ui/panda/src/theme/index.ts
  packages/ui/panda/src/theme/keyframes.ts
  packages/ui/panda/src/theme/media.ts
  packages/ui/panda/tsconfig.json
Labels: area: Web, diff: XL, area: UI

#252 style: overflow x 스크롤
  apps/web/src/app/[locale]/mypage/(github-custom)/LinePreview.tsx
  apps/web/src/app/[locale]/mypage/page.tsx
Labels: area: Web, diff: XS

#251 style: 마이페이지 마이펫 모바일 적용
  apps/web/src/app/[locale]/mypage/my-pet/(merge)/MergePreview.tsx
  apps/web/src/app/[locale]/mypage/my-pet/page.tsx
Labels: area: Web, diff: S

#255 펫 drop 확인창 추가
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/src/app/[locale]/mypage/my-pet/SelectedPetTable.tsx
  apps/web/src/app/[locale]/mypage/my-pet/page.tsx
  apps/web/src/components/Global/useDialog.tsx
  apps/web/src/constants/storage.ts
  packages/ui/panda/package.json
  packages/ui/panda/src/components/CheckBox/CheckBox.tsx
  packages/ui/panda/src/components/CheckBox/index.ts
  packages/ui/panda/src/components/Label/Label.tsx
  packages/ui/panda/src/components/Label/index.tsx
  packages/ui/panda/src/components/index.ts
  pnpm-lock.yaml
Labels: area: Web, diff: XL, area: UI

#256 style: 랜딩 수치 영역 스타일 개선
  apps/web/src/app/[locale]/landing/AvailablePetSection/AvailablePetSection.style.ts
Labels: area: Web, diff: XS

#257 fix: 최신화 안되는 쿼리 개선
  apps/web/src/apis/QueryClientProvider.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/SellSection/PetList.tsx
  apps/web/src/app/[locale]/shop/SellListSection/EditModal.tsx
  apps/web/src/app/[locale]/shop/SellListSection/index.tsx
  packages/ui/panda/src/components/Dialog/Dialog.tsx
Labels: area: Web, diff: XS, area: UI

#258 style: append notification item divider
  apps/web/src/components/GNB/Notification/InboxList.tsx
Labels: area: Web, diff: XS

#260 실험실 - 개수, 레벨별 정렬 및 쿼리 무효화 코드 추가
  apps/web/src/app/[locale]/laboratory/page.tsx
  apps/web/src/app/[locale]/laboratory/property-pet-sell/page.tsx
Labels: area: Web, diff: XS

#261 [Guild] main list ui 추가 및 배경 레이아웃 적용
  apps/web/public/guild/guild-bg-bottom-house.webp
  apps/web/public/guild/guild-bg-bottom.webp
  apps/web/public/guild/init-bg-bottom.webp
  apps/web/src/apis/interceptor.ts
  apps/web/src/app/[locale]/auth/page.tsx
  apps/web/src/app/[locale]/guild/(list)/GuildCard.tsx
  apps/web/src/app/[locale]/guild/[id]/layout.tsx
  apps/web/src/app/[locale]/guild/[id]/page.tsx
  apps/web/src/app/[locale]/guild/layout.tsx
  apps/web/src/app/[locale]/guild/page.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/HistoryTable.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/ProductTable.tsx
  apps/web/src/app/[locale]/shop/SellListSection/index.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/GNB/GNB.tsx
  apps/web/src/components/Global/SessionLoader.tsx
  apps/web/src/components/Pagination/Pagination.tsx
  apps/web/src/components/Pagination/PaginationServer.tsx
  packages/api/src/_instance/render.ts
  packages/api/src/auction/getMyProducts.ts
  packages/api/src/auction/getProductHistories.ts
  packages/api/src/auction/getProducts.ts
  packages/api/src/auction/schema.ts
  packages/api/src/guild/index.ts
  packages/api/src/guild/schema.ts
  packages/api/src/guild/searchGuild.ts
  packages/api/src/index.ts
  packages/api/src/schema.ts
  packages/util/common/src/url.ts
Labels: area: Web, diff: L, area: API, area: Utils

#262 Search Component 추가
  apps/web/public/guild/guild-bg-bottom-house.png
  apps/web/public/guild/guild-bg-bottom.png
  apps/web/public/guild/init-bg-bottom.png
  apps/web/src/app/[locale]/guild/page.tsx
  packages/ui/panda/src/components/SearchBar/SearchBar.tsx
  packages/ui/panda/src/components/SearchBar/index.ts
  packages/ui/panda/src/components/index.ts
Labels: area: Web, diff: S, area: UI

#263 feat: 포인트 부족할 때 뽑기 버튼 비활성화
  apps/web/src/app/[locale]/shop/PetGotcha/PetGotcha.tsx
Labels: area: Web, diff: XS
