Repository git-goods/git-animal-client, pull requests merged in 2024-08, with the labels that each got.

#143 랜딩페이지의 AnimalList API 연결
  apps/admin/app/routes/shop.drop-pet.tsx
  apps/web/src/app/landing/AvailablePetSection/AnimalSlider.tsx
  apps/web/src/app/landing/AvailablePetSection/AvailablePetSection.tsx
  apps/web/src/hooks/query/render/useGetAllPersona.ts
  packages/api/src/render/getAllMyPets.ts
  packages/api/src/render/getAllPersona.ts
  packages/api/src/render/index.ts
Labels: area: Web, diff: M, area: API

#142 통계 관련 API 연결
  apps/admin/app/routes/shop.drop-pet.tsx
  apps/web/src/app/landing/AvailablePetSection/AnimalSlider.tsx
  apps/web/src/app/landing/AvailablePetSection/AvailablePetSection.tsx
  apps/web/src/hooks/query/auction/useGetTotalProductCount.ts
  apps/web/src/hooks/query/identity/useGetTotalIdentityUserCount.ts
  apps/web/src/hooks/query/render/useGetAllPersona.ts
  apps/web/src/hooks/query/render/useGetTotalPersonaCount.ts
  apps/web/src/hooks/query/render/useGetTotalRenderUserCount.ts
  packages/api/src/auction/getTotalProductCount.ts
  packages/api/src/auction/index.ts
  packages/api/src/identity/getTotalIdentityUserCount.ts
  packages/api/src/identity/index.ts
  packages/api/src/index.ts
  packages/api/src/render/getAllMyPets.ts
  packages/api/src/render/getAllPersona.ts
  packages/api/src/render/getTotalPersonaCount.ts
  packages/api/src/render/getTotalRenderUserCount.ts
  packages/api/src/render/index.ts
  pnpm-lock.yaml
Labels: area: Web, diff: XL, area: API

#149 hotfix: bg color
  apps/web/src/app/shop/page.tsx
Labels: area: Web, diff: XS

#152 refactor: farm 동물 선택 결과 즉시 반영
  apps/web/src/app/mypage/FarmType.tsx
  apps/web/src/components/Gitanimals.tsx
Labels: area: Web, diff: XS

#150 refactor: 상점 판매 로직
  apps/web/src/app/shop/SellSection/SellInputRow.tsx
  apps/web/src/app/shop/SellSection/index.tsx
Labels: area: Web, diff: XS

#151 chore: update github url and open link with blank
  apps/web/src/components/Layout/Header.tsx
  apps/web/src/constants/outlink.ts
Labels: area: Web, diff: XS

#154 Landing FeedBack Icon fix and Feedback Assigned fix
  apps/web/src/components/FeedBack/FeedBack.tsx
Labels: diff: S

#155 Feat/next auth setting
  apps/web/package.json
  apps/web/public/feedback/icon-channeltalk-close.svg
  apps/web/public/feedback/icon-channeltalk-default.svg
  apps/web/src/apis/QueryClientProvider.tsx
  apps/web/src/apis/index.ts
  apps/web/src/apis/interceptor.ts
  apps/web/src/apis/user/useGetUser.ts
  apps/web/src/app/api/auth/[...nextauth]/route.ts
  apps/web/src/app/api/auth/jwt/route.ts
  apps/web/src/app/auth/LoginButton.tsx
  apps/web/src/app/auth/page.tsx
  apps/web/src/app/dev/Client.tsx
  apps/web/src/app/dev/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/mypage/FarmType.tsx
  apps/web/src/app/mypage/OneType.tsx
  apps/web/src/app/mypage/PointInfo.tsx
  apps/web/src/app/mypage/ProfileSection.tsx
  apps/web/src/app/mypage/RightSection.tsx
  apps/web/src/app/mypage/page.tsx
  apps/web/src/auth.ts
  apps/web/src/components/Button.tsx
  apps/web/src/components/ClientProvider.tsx
  apps/web/src/components/FeedBack/Icons.tsx
  apps/web/src/components/FeedbackForm.tsx
  apps/web/src/components/Gitanimals.tsx
  apps/web/src/components/Layout/Header.tsx
  apps/web/src/components/SessionLoader.tsx
  apps/web/src/middleware.ts
  apps/web/src/styles/prevTextToken.ts
  apps/web/src/utils/clientAuth.ts
  apps/web/tsconfig.json
  apps/web/types/auth.d.ts
  packages/api/src/_instance/default.ts
  packages/api/src/_instance/safe.ts
  packages/api/src/_interceptor/index.ts
  packages/api/src/user/getUser.ts
  packages/ui/icon/src/icons/BehanceIcon.tsx
  packages/ui/icon/src/icons/XIcon.tsx
  packages/ui/icon/src/index.ts
  pnpm-lock.yaml
Labels: area: Web, diff: XL, area: API, area: UI

#157 [Refactor] 상수 정리
  .vscode/settings.json
  apps/web/src/components/FeedBack/FeedBack.constants.tsx
  apps/web/src/components/FeedbackForm.tsx
  apps/web/src/components/Layout/Header2.tsx
  apps/web/src/components/Layout/Header_v2.tsx
  apps/web/src/constants/github.ts
  apps/web/src/constants/render.ts
  apps/web/src/constants/test.ts
  apps/web/src/utils/dev.ts
Labels: area: Web, diff: S

#158 랜딩페이지 헤더 추가
  .vscode/settings.json
  apps/web/public/main/gnb_right_logo.svg
  apps/web/src/apis/auth/getGithubOauth.ts
  apps/web/src/app/page.tsx
  apps/web/src/components/FeedBack/FeedBack.constants.tsx
  apps/web/src/components/FeedbackForm.tsx
  apps/web/src/components/Layout/Header2.tsx
  apps/web/src/components/Layout/Header_v2.tsx
  apps/web/src/components/LoginButton.tsx
  apps/web/src/constants/github.ts
  apps/web/src/constants/render.ts
  apps/web/src/constants/test.ts
  apps/web/src/utils/dev.ts
Labels: area: Web, diff: S

#156 변경된 Auth 방식에 따라 기존 컴포넌트 리팩토링
  .vscode/settings.json
  apps/web/public/main/gnb_right_logo.svg
  apps/web/src/apis/auth/getGithubOauth.ts
  apps/web/src/apis/interceptor.ts
  apps/web/src/app/dev/token/page.tsx
  apps/web/src/app/jwt/layout.tsx
  apps/web/src/app/jwt/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/mypage/ProfileSection.tsx
  apps/web/src/app/mypage/page.tsx
  apps/web/src/app/page.tsx
  apps/web/src/app/prepare/page.tsx
  apps/web/src/app/shop/GotchaSection.tsx
  apps/web/src/app/shop/HistoryTable.tsx
  apps/web/src/app/shop/ProductTable.tsx
  apps/web/src/app/shop/SellSection/PetList.tsx
  apps/web/src/app/shop/SellSection/index.tsx
  apps/web/src/app/shop/ShopInner.tsx
  apps/web/src/app/shop/Tab.tsx
  apps/web/src/app/shop/page.tsx
  apps/web/src/app/start/page.tsx
  apps/web/src/auth.ts
  apps/web/src/components/Button.tsx
  apps/web/src/components/DottedBox/DottedThreeBox.tsx
  apps/web/src/components/FeedBack/FeedBack.constants.tsx
  apps/web/src/components/FeedbackForm.tsx
  apps/web/src/components/Layout/Footer.tsx
  apps/web/src/components/Layout/Header.tsx
  apps/web/src/components/Layout/Header2.tsx
  apps/web/src/components/Layout/Header_v2.tsx
  apps/web/src/components/Layout/Layout.tsx
  apps/web/src/components/LoginButton.tsx
  apps/web/src/components/UserPoint.tsx
  apps/web/src/constants/github.ts
  apps/web/src/constants/render.ts
  apps/web/src/constants/test.ts
  apps/web/src/store/user.ts
  apps/web/src/utils/dev.ts
Labels: area: Web, diff: XL

#159 refactor: Feedback 컴포넌트 styled componet -> panda css
  apps/web/panda.config.ts
  apps/web/src/components/FeedbackForm.tsx
Labels: area: Web, diff: L

#166 sonnar 라이브러리 추가 및 공지사항 toast 추가
  apps/web/package.json
  apps/web/src/app/dev/Client.tsx
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/components/ClientProvider.tsx
  apps/web/src/components/NoticeToast/NoticeToast.tsx
  apps/web/src/components/NoticeToast/notice.tsx
  apps/web/src/components/SessionLoader.tsx
  apps/web/src/hooks/lifeCycle/useEffectOnce.ts
  packages/util/common/.eslintrc.js
  packages/util/common/package.json
  packages/util/common/src/index.ts
  packages/util/common/tsconfig.json
  pnpm-lock.yaml
Labels: area: Web, diff: M, area: Utils

#167 상점에서 펫 구매 후 띄워주는 스낵바 교체
  .coderabbit.yaml
  apps/web/src/app/globals.css
  apps/web/src/app/shop/ProductTable.tsx
  apps/web/src/components/ClientProvider.tsx
Labels: area: Web, diff: XS
