Repository git-goods/git-animal-client, pull requests merged in 2024-11, with the labels that each got.

#231 할로윈 이벤트 끝
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/src/app/[locale]/event/[eventCode]/page.tsx
  apps/web/src/components/NoticeToast/NoticeToast.tsx
Labels: area: Web, diff: S

#232 chore: append comma at shot and background section
  apps/web/src/app/[locale]/shop/BackgroundSection/BackgroundSection.tsx
  apps/web/src/components/ProductTable/ShopTableRowView.tsx
Labels: area: Web, diff: XS

#230 펫 Merge 기능 추가
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/panda.config.ts
  apps/web/public/mypage/merge/merge-empty.svg
  apps/web/src/app/[locale]/landing/AvailablePetSection/AnimalSlider.tsx
  apps/web/src/app/[locale]/mypage/PersonaList.tsx
  apps/web/src/app/[locale]/mypage/my-pet/(merge)/MergePersona.tsx
  apps/web/src/app/[locale]/mypage/my-pet/(merge)/MergePreview.tsx
  apps/web/src/app/[locale]/mypage/my-pet/(merge)/MergeResult.tsx
  apps/web/src/app/[locale]/mypage/my-pet/(merge)/index.ts
  apps/web/src/app/[locale]/mypage/my-pet/page.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/DefaultTabRight.tsx
  apps/web/src/app/[locale]/shop/FloatingPointSection/FloatingPointSection.tsx
  apps/web/src/app/[locale]/shop/SearchOption/OrderTypeSelect.tsx
  apps/web/src/app/[locale]/shop/SearchOption/SortDirectionSelect.tsx
  apps/web/src/app/[locale]/shop/SearchOption/index.ts
  apps/web/src/components/Modal/Modal.tsx
  apps/web/src/components/Portal.tsx
  apps/web/src/components/Portal/AnimatePortal.tsx
  apps/web/src/components/Portal/Portal.tsx
  apps/web/src/components/Portal/index.ts
  apps/web/src/components/SortOptionSelect/OrderTypeSelect.tsx
  apps/web/src/components/SortOptionSelect/SelectOption.tsx
  apps/web/src/components/SortOptionSelect/SortDirectionSelect.tsx
  apps/web/src/components/SortOptionSelect/index.ts
  packages/api/src/render/index.ts
  packages/api/src/render/mergePersonaLevel.ts
  packages/lib/react-query/src/render/index.ts
  packages/lib/react-query/src/render/merge.ts
  packages/lib/react-query/src/user/queries.ts
  packages/ui/panda/src/components/Banner/Banner.tsx
  packages/ui/panda/src/components/Banner/LevelBanner.tsx
Labels: area: Web, diff: XL, area: API, area: UI, area: Lib

#234 Shadow Panda Dialog 적용
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/src/app/[locale]/mypage/(github-custom)/FarmPersonaSelect.tsx
  apps/web/src/app/[locale]/mypage/(github-custom)/FarmType.tsx
  apps/web/src/app/[locale]/mypage/(github-custom)/LinePersonaSelect.tsx
  apps/web/src/app/[locale]/mypage/(github-custom)/LinePreview.tsx
  apps/web/src/app/[locale]/mypage/ProfileSection.tsx
  apps/web/src/app/[locale]/mypage/my-pet/(merge)/MergePersona.tsx
  apps/web/src/app/[locale]/mypage/my-pet/(merge)/MergePreview.tsx
  apps/web/src/app/[locale]/mypage/my-pet/(merge)/MergeResult.tsx
  apps/web/src/app/globals.css
  packages/ui/panda/src/components/Button/cva.ts
  packages/ui/panda/src/components/Dialog/Dialog.styles.ts.tsx
  packages/ui/panda/src/components/Dialog/Dialog.tsx
  packages/ui/panda/src/components/Dialog/index.ts
  packages/ui/panda/src/components/Modal/FullModal.tsx
  packages/ui/panda/src/components/Modal/index.ts
Labels: area: Web, diff: L, area: UI

#236 Shadow Panda Dialog 사용하기
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/src/app/[locale]/error.tsx
  apps/web/src/app/[locale]/mypage/(github-custom)/FarmPersonaSelect.tsx
  apps/web/src/app/[locale]/mypage/(github-custom)/LinePersonaSelect.tsx
  apps/web/src/app/[locale]/mypage/my-pet/(merge)/MergePersona.tsx
  apps/web/src/app/[locale]/shop/PetGotcha/OnePet.tsx
  apps/web/src/app/[locale]/shop/PetGotcha/TenPet.tsx
  apps/web/src/app/[locale]/shop/PetGotcha/useCheckEnoughMoney.ts
  apps/web/src/app/[locale]/shop/SellListSection/EditModal.tsx
  apps/web/src/constants/outlink.ts
  packages/ui/panda/src/components/Dialog/Dialog.styles.ts.tsx
  packages/ui/panda/src/components/Dialog/Dialog.tsx
  packages/ui/panda/src/components/Dialog/index.ts
  packages/ui/panda/src/components/Modal/Modal.tsx
  packages/ui/panda/src/components/Modal/ScreenModal.tsx
  packages/ui/panda/src/components/Modal/index.ts
  packages/ui/panda/src/components/Modal/useDialog.ts
  packages/ui/panda/src/components/index.ts
Labels: area: Web, diff: L, area: UI

#237 Shadow Panda Dialog 적용하기 -2
  apps/web/src/app/[locale]/shop/AuctionSection/PersonaSearch.tsx
  apps/web/src/components/Modal/Modal.tsx
  apps/web/src/components/Modal/index.ts
Labels: area: Web, diff: S

#238 Shadow Panda Select 적용
  apps/web/src/app/[locale]/dev/component/page.tsx
  apps/web/src/app/[locale]/mypage/(github-custom)/FarmPersonaSelect.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/DefaultTabRight.tsx
  apps/web/src/components/SortOptionSelect/OrderTypeSelect.tsx
  apps/web/src/components/SortOptionSelect/SelectOption.tsx
  apps/web/src/components/SortOptionSelect/SortDirectionSelect.tsx
  apps/web/src/components/SortSelect/OrderTypeSelect.tsx
  apps/web/src/components/SortSelect/SortDirectionSelect.tsx
  apps/web/src/components/SortSelect/index.ts
  apps/web/src/components/SortSelect/useSortSelect.tsx
  apps/web/src/styles/scrollStyle.ts
  packages/ui/panda/package.json
  packages/ui/panda/src/components/Select/Select.styles.ts
  packages/ui/panda/src/components/Select/Select.tsx
  packages/ui/panda/src/components/Select/index.ts
  packages/ui/panda/src/components/index.ts
  pnpm-lock.yaml
Labels: area: Web, diff: L, area: UI

#240 style: fixing pixel break
  apps/web/src/app/[locale]/shop/BackgroundSection/BackgroundSection.tsx
Labels: area: Web, diff: XS
