Repository git-goods/git-animal-client, pull requests merged in 2024-06, with the labels that each got.

#18 fix : "내 펫이 많아지면 화면을 넘어가요"
  src/components/ProductTable/ShopTableBackground.tsx
  src/pages/shop/GotchaSection.tsx
  src/pages/shop/SellSection/PetList.tsx
  src/pages/shop/SellSection/index.tsx
  src/pages/shop/index.page.tsx
Labels: bug, enhancement

#19 fix: history랑 sell list 페이지가 페이지네이션 되지 않아요
  src/apis/auctions/useGetHistory.ts
  src/apis/auctions/useGetMyProduct.ts
  src/components/Pagination.tsx
  src/pages/shop/SellListSection/index.tsx
Labels: bug

#32 nav shop 로그인 로직 수행
  src/components/Layout/Header.tsx
  src/pages/Welcome.tsx
Labels: enhancement

#54 PR 라벨러 추가
  .github/labeler.yml
  .github/workflows/pr_labeler.yml
Labels: area: Workflow

#56 hotfix: next router error hotfix
  apps/web/src/app/jwt/page.tsx
Labels: bug, diff: XS

#40 Persona Search 기능 추가
  apps/web/src/apis/auctions/useGetPersonaTypes.ts
  apps/web/src/app/shop/HistoryTable.tsx
  apps/web/src/app/shop/ProductTable.tsx
  apps/web/src/app/shop/Search/index.tsx
  apps/web/src/app/shop/Tab.tsx
  apps/web/src/app/shop/page.tsx
  apps/web/src/components/Modal/Modal.tsx
Labels: enhancement, area: Web, diff: M

#55 Web 어플리케이션 CI
  .github/workflows/ci-web.yml
  packages/ui/.eslintrc.js
  packages/ui/tsconfig.json
  packages/ui/tsconfig.lint.json
Labels: area: Workflow, diff: M

#63 Fix/invalidate points when gotcha
  apps/web/src/apis/user/useGetUser.ts
  apps/web/src/app/shop/GotchaSection.tsx
  apps/web/src/app/shop/Point.tsx
  apps/web/src/app/shop/page.tsx
Labels: area: Web, diff: XS

#57 fix: 알수없는 세미콜론 제거
  apps/web/src/components/ClientProvider.tsx
Labels: bug, area: Web, diff: XS

#58 Select UI 추가
  apps/web/src/app/layout.tsx
  apps/web/src/app/test/layout.tsx
  apps/web/src/app/test/page.tsx
  apps/web/src/components/FeedBack/FeedBack.constants.ts
  apps/web/src/components/FeedBack/FeedBack.tsx
  apps/web/src/components/Select/Label.tsx
  apps/web/src/components/Select/Option.tsx
  apps/web/src/components/Select/Panel.tsx
  apps/web/src/components/Select/Root.tsx
  apps/web/src/components/Select/index.tsx
Labels: area: Web, diff: L

#60 panda-css 적용
  .github/workflows/ci-web.yml
  .gitignore
  apps/web/package.json
  apps/web/panda.config.ts
  apps/web/postcss.config.cjs
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/styles/GlobalStyle.tsx
  apps/web/tsconfig.json
  pnpm-lock.yaml
Labels: area: Web, area: Workflow, diff: XL

#61 TextArea UI 컴포넌트 추가
  apps/web/src/components/FeedBack/FeedBack.tsx
  apps/web/src/components/TextArea.tsx
Labels: area: Web, diff: S

#64 @gitanimals/api
  apps/web/package.json
  packages/api/package.json
  packages/api/src/_instance/default.ts
  packages/api/src/_instance/index.ts
  packages/api/src/_instance/render.ts
  packages/api/src/_interceptor/index.ts
  packages/api/src/index.ts
  packages/api/src/type.ts
  packages/api/src/user/getUser.ts
  packages/api/src/user/index.ts
  packages/api/tsconfig.json
  packages/exception/package.json
  packages/exception/src/ApiException.ts
  packages/exception/src/CustomException.ts
  packages/exception/src/index.ts
  packages/exception/tsconfig.json
  pnpm-lock.yaml
Labels: area: Web, diff: M

#72 Feedback Form 추가
  apps/web/public/feedback/feedback-profile.png
  apps/web/src/apis/github/usePostIssue.ts
  apps/web/src/app/test/layout.tsx
  apps/web/src/app/test/page.tsx
  apps/web/src/components/Button/Button.tsx
  apps/web/src/components/FeedBack/FeedBack.constants.tsx
  apps/web/src/components/FeedBack/FeedBack.icons.tsx
  apps/web/src/components/FeedBack/FeedBack.tsx
  apps/web/src/components/Select/Option.tsx
  apps/web/src/components/Select/Panel.tsx
  apps/web/tsconfig.json
Labels: area: Web, diff: L

#74 FeedBack build
  apps/web/src/components/FeedBack/FeedBack.tsx
  apps/web/src/components/FeedBack/Icons.tsx
Labels: area: Web, diff: XS

#79 fix: typo and style
  apps/web/src/components/FeedBack/FeedBack.tsx
  apps/web/src/components/Layout/Header.tsx
Labels: area: Web, diff: XS

#80 fix: gotcha button size and position
  apps/web/src/app/shop/GotchaSection.tsx
Labels: area: Web, diff: XS

#75 ci: append area api label
  .github/labeler.yml
Labels: diff: XS

#84 fix: 동물 선택 페이지네이션, 동물 선택 스크롤, 스낵바 버그
  apps/web/src/app/shop/ProductTable.tsx
  apps/web/src/app/shop/Search/index.tsx
  apps/web/src/components/.gitkeep
  apps/web/src/components/ClientProvider.tsx
Labels: area: Web, diff: XS

#86 ci: more labeler
  .github/labeler.yml
Labels: diff: XS

#88 refactor: 토큰 선언 시 제공되는 api 사용하기
  packages/ui/panda/src/theme/semanticTokens.ts
  packages/ui/panda/src/theme/tokens.ts
Labels: diff: XS

#85 feat: `@gitanimals/util-typescript`
  .vscode/settings.json
  packages/ui/panda/package.json
  packages/ui/panda/src/theme/semanticTokens.ts
  packages/ui/panda/src/theme/tokens.ts
  packages/ui/panda/tsconfig.lint.json
  packages/util/typescript/.eslintrc.js
  packages/util/typescript/package.json
  packages/util/typescript/src/array/includes.ts
  packages/util/typescript/src/array/index.ts
  packages/util/typescript/src/index.ts
  packages/util/typescript/src/object/index.ts
  packages/util/typescript/src/object/keys.ts
  packages/util/typescript/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: diff: S

#82 feat: set panda css to jsx react, syntax template-literal
  apps/web/panda.config.ts
Labels: area: Web, diff: XS

#92 Text Style 상수 -> panda text style 알고리즘
  apps/web/panda.config.ts
  packages/ui/panda/panda.config.ts
  packages/ui/panda/src/theme/index.ts
  packages/ui/panda/src/theme/textStyles.ts
Labels: area: Web, diff: XS, area: UI

#91 textStyles
  apps/web/panda.config.ts
  packages/ui/panda/panda.config.ts
  packages/ui/panda/src/theme/index.ts
  packages/ui/panda/src/theme/textStyles.ts
  packages/ui/token/src/font/glyph.ts
  packages/ui/token/src/font/index.ts
  packages/ui/token/src/index.ts
Labels: area: Web, area: UI

#93 refactor: styled global style to panda css global css
  apps/web/src/app/globals.css
  apps/web/src/styles/GlobalStyle.tsx
Labels: area: Web, diff: S

#94 Button 디자인 시스템 추가
  apps/web/src/app/dev/component/page.tsx
  packages/ui/panda/src/components/Button/cva.ts
Labels: area: Web, diff: S, area: UI
