Repository git-goods/git-animal-client, pull requests merged in 2024-10, with the labels that each got.

#204 feat: 이벤트 로직
  .github/labeler.yml
  apps/admin/package.json
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/package.json
  apps/web/public/og-image.png
  apps/web/src/app/[locale]/event/[eventCode]/CardList.tsx
  apps/web/src/app/[locale]/event/[eventCode]/Draw.tsx
  apps/web/src/app/[locale]/event/[eventCode]/HalloweenCard.tsx
  apps/web/src/app/[locale]/event/[eventCode]/KingGhost.tsx
  apps/web/src/app/[locale]/event/[eventCode]/layout.tsx
  apps/web/src/app/[locale]/event/[eventCode]/page.tsx
  package.json
  packages/api/src/coupon/index.ts
  packages/api/src/coupon/usingCoupon.ts
  packages/api/src/index.ts
  packages/api/src/render/index.ts
  packages/api/src/render/isPressStar.ts
  packages/lib/react-query/package.json
  packages/lib/react-query/src/coupon/index.ts
  packages/lib/react-query/src/coupon/queries.ts
  packages/lib/react-query/src/coupon/useUsingCoupon.ts
  packages/lib/react-query/src/index.ts
  packages/lib/react-query/src/render/index.ts
  packages/lib/react-query/src/render/queries.ts
  packages/lib/react-query/tsconfig.json
  packages/lib/react/package.json
  packages/lib/react/src/hooks/index.ts
  packages/lib/react/src/hooks/useOutsideClick/index.ts
  packages/lib/react/src/hooks/useOutsideClick/useOutsideClick.ts
  packages/lib/react/src/index.ts
  packages/lib/react/tsconfig.json
  packages/ui/icon/package.json
  packages/ui/panda/package.json
  packages/ui/panda/src/components/Modal/Modal.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: area: Web, diff: XL, area: API, area: UI, area: Lib

#205 feat: 이벤트 ui
  .github/labeler.yml
  apps/admin/package.json
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/package.json
  apps/web/public/event/halloween/card-bg-halloween.webp
  apps/web/public/event/halloween/halloween-bg.webp
  apps/web/public/event/halloween/halloween-icon.webp
  apps/web/public/event/halloween/halloween-left.webp
  apps/web/public/event/halloween/halloween-right.webp
  apps/web/public/event/halloween/halloween-title.svg
  apps/web/public/event/halloween/king-ghost.svg
  apps/web/public/og-image.png
  apps/web/src/app/[locale]/event/[eventCode]/CardList.tsx
  apps/web/src/app/[locale]/event/[eventCode]/Draw.tsx
  apps/web/src/app/[locale]/event/[eventCode]/HalloweenCard.tsx
  apps/web/src/app/[locale]/event/[eventCode]/KingGhost.tsx
  apps/web/src/app/[locale]/event/[eventCode]/layout.tsx
  apps/web/src/app/[locale]/event/[eventCode]/page.tsx
  apps/web/src/app/[locale]/landing/AvailablePetSection/AnimalSlider.tsx
  apps/web/src/app/[locale]/landing/AvailablePetSection/AnimalSliderContainerMobile.tsx
  apps/web/src/middleware.ts
  package.json
  packages/api/src/coupon/index.ts
  packages/api/src/coupon/usingCoupon.ts
  packages/api/src/index.ts
  packages/api/src/render/index.ts
  packages/api/src/render/isPressStar.ts
  packages/lib/react-query/package.json
  packages/lib/react-query/src/coupon/index.ts
  packages/lib/react-query/src/coupon/queries.ts
  packages/lib/react-query/src/coupon/useUsingCoupon.ts
  packages/lib/react-query/src/index.ts
  packages/lib/react-query/src/render/index.ts
  packages/lib/react-query/src/render/queries.ts
  packages/lib/react-query/tsconfig.json
  packages/lib/react/package.json
  packages/lib/react/src/hooks/index.ts
  packages/lib/react/src/hooks/useOutsideClick/index.ts
  packages/lib/react/src/hooks/useOutsideClick/useOutsideClick.ts
  packages/lib/react/src/index.ts
  packages/lib/react/tsconfig.json
  packages/ui/icon/package.json
  packages/ui/panda/package.json
  packages/ui/panda/src/components/Card/NoRatingCard.tsx
  packages/ui/panda/src/components/Card/index.ts
  packages/ui/panda/src/components/Modal/Modal.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: area: Web, diff: XL, area: API, area: UI, area: Lib

#206 feat: 이벤트 페이지 로그인 안한 상태 대응
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/src/app/[locale]/auth/LoginButton.tsx
  apps/web/src/app/[locale]/event/[eventCode]/Draw.tsx
  apps/web/src/components/AuthButton.tsx
  apps/web/src/constants/storage.ts
  apps/web/src/middleware.ts
Labels: area: Web, diff: XS

#209 feat: draw 이후 사용한 쿠폰 invalidate
  apps/web/src/app/[locale]/event/[eventCode]/Draw.tsx
Labels: area: Web, diff: XS

#210 feat: HalloweenEventToast 추가
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/src/components/NoticeToast/NoticeToast.tsx
  apps/web/src/components/NoticeToast/notice.tsx
Labels: area: Web, diff: S

#202 refactor: persona schema type 정의 수정 및 queryFactory 추가
  apps/web/src/apis/persona/useChangePersonaVisible.ts
  apps/web/src/apis/user/useGetAllPets.ts
  apps/web/src/app/[locale]/mypage/FarmType.tsx
  apps/web/src/app/[locale]/mypage/PersonaList.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/SellSection/PetList.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/SellSection/SellInputRow.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/SellSection/SellSection.tsx
  apps/web/src/components/SelectAnimal.tsx
  apps/web/src/lib/react-query/user.ts
  packages/api/src/render/getAllMyPets.ts
  packages/api/src/render/getAllPersona.ts
  packages/api/src/render/index.ts
  packages/api/src/render/schema.ts
Labels: area: Web, diff: M, area: API

#211 My Pet 페이지 추가
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/src/app/[locale]/mypage/(github-custom)/FarmType.tsx
  apps/web/src/app/[locale]/mypage/PersonaList.tsx
  apps/web/src/app/[locale]/mypage/ProfileSection.tsx
  apps/web/src/app/[locale]/mypage/layout.tsx
  apps/web/src/app/[locale]/mypage/my-pet/page.tsx
  packages/api/src/index.ts
  packages/api/src/shop/dropPet.ts
  packages/api/src/shop/index.ts
Labels: area: Web, diff: M, area: API

#212 MyPage 모바일 대응
  apps/web/src/app/[locale]/mypage/(github-custom)/FarmType.tsx
  apps/web/src/app/[locale]/mypage/(github-custom)/OneType.tsx
  apps/web/src/app/[locale]/mypage/(github-custom)/page.tsx
  apps/web/src/app/[locale]/mypage/ProfileSection.tsx
  apps/web/src/app/[locale]/mypage/layout.tsx
  apps/web/src/app/[locale]/mypage/my-pet/page.tsx
Labels: area: Web, diff: L

#203 refactor: mypage layout 분리
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/src/app/[locale]/mypage/(github-custom)/FarmType.tsx
  apps/web/src/app/[locale]/mypage/(github-custom)/OneType.tsx
  apps/web/src/app/[locale]/mypage/(github-custom)/page.tsx
  apps/web/src/app/[locale]/mypage/PersonaList.tsx
  apps/web/src/app/[locale]/mypage/PointInfo.tsx
  apps/web/src/app/[locale]/mypage/ProfileSection.tsx
  apps/web/src/app/[locale]/mypage/RightSection.tsx
  apps/web/src/app/[locale]/mypage/layout.tsx
  apps/web/src/app/[locale]/mypage/my-pet/page.tsx
  apps/web/src/app/[locale]/mypage/page.tsx
  packages/api/src/index.ts
  packages/api/src/shop/dropPet.ts
  packages/api/src/shop/index.ts
Labels: area: Web, diff: XL, area: API

#214 next-intl 라이브러리의 Link, useRouter 사용
  apps/web/src/app/[locale]/dev/Client.tsx
  apps/web/src/app/[locale]/error.tsx
  apps/web/src/app/[locale]/event/[eventCode]/Draw.tsx
  apps/web/src/app/[locale]/landing/ChoosePetSection/ChoosePetSection.tsx
  apps/web/src/app/[locale]/landing/MainSection/MainSection.tsx
  apps/web/src/app/[locale]/mypage/ProfileSection.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/Tab.tsx
  apps/web/src/app/[locale]/shop/useSearchOptions.ts
  apps/web/src/app/not-found.tsx
  apps/web/src/components/Button.tsx
  apps/web/src/components/GNB/DesktopGNB.tsx
  apps/web/src/components/Monitoring.tsx
  apps/web/src/components/NoticeToast/NoticeToast.tsx
  apps/web/src/hooks/event/usePageTrack.ts
Labels: area: Web, diff: S

#213 Persona 검색 기능 디자인 변경
  apps/web/src/app/[locale]/dev/Client.tsx
  apps/web/src/app/[locale]/error.tsx
  apps/web/src/app/[locale]/event/[eventCode]/Draw.tsx
  apps/web/src/app/[locale]/landing/ChoosePetSection/ChoosePetSection.tsx
  apps/web/src/app/[locale]/landing/MainSection/MainSection.tsx
  apps/web/src/app/[locale]/mypage/ProfileSection.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/DefaultTabRight.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/PersonaSearch.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/Tab.tsx
  apps/web/src/app/[locale]/shop/SearchOption/PersonaType.tsx
  apps/web/src/app/[locale]/shop/SearchOption/index.ts
  apps/web/src/app/[locale]/shop/useSearchOptions.ts
  apps/web/src/app/not-found.tsx
  apps/web/src/components/Button.tsx
  apps/web/src/components/DottedBox/DottedBox.d.ts
  apps/web/src/components/DottedBox/DottedDoubleBox.tsx
  apps/web/src/components/DottedBox/DottedThreeBox.tsx
  apps/web/src/components/GNB/DesktopGNB.tsx
  apps/web/src/components/Modal/Modal.tsx
  apps/web/src/components/Modal/index.ts
  apps/web/src/components/Monitoring.tsx
  apps/web/src/components/NoticeToast/NoticeToast.tsx
  apps/web/src/components/portal/Portal.tsx
  apps/web/src/hooks/event/usePageTrack.ts
  apps/web/src/lib/react-query/auction.ts
  packages/api/src/auction/getProductsTypes.ts
  packages/api/src/auction/index.ts
  packages/lib/react/src/hooks/index.ts
  packages/lib/react/src/hooks/useBodyLock/index.ts
  packages/lib/react/src/hooks/useBodyLock/useBodyLock.ts
Labels: area: Web, diff: XL, area: API, area: Lib

#215 Query Factory Pacakge으로 분리
  apps/web/src/apis/auctions/useGetHistory.ts
  apps/web/src/apis/auctions/useGetMyProduct.ts
  apps/web/src/apis/auctions/useGetPersonaTypes.ts
  apps/web/src/apis/auctions/useGetProducts.ts
  apps/web/src/apis/auctions/useProduct.ts
  apps/web/src/apis/user/getUsedCoupons.ts
  apps/web/src/apis/user/useGetUser.ts
  apps/web/src/apis/user/useUseCoupons.ts
  apps/web/src/app/[locale]/event/[eventCode]/Draw.tsx
  apps/web/src/app/[locale]/mypage/(github-custom)/FarmType.tsx
  apps/web/src/app/[locale]/mypage/PersonaList.tsx
  apps/web/src/app/[locale]/mypage/ProfileSection.tsx
  apps/web/src/app/[locale]/mypage/my-pet/page.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/HistoryTable.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/PersonaSearch.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/ProductTable.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/SellSection/PetList.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/SellSection/SellInputRow.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/Tab.tsx
  apps/web/src/app/[locale]/shop/FloatingPointSection/FloatingPointSection.tsx
  apps/web/src/app/[locale]/shop/PetGotcha/OnePet.tsx
  apps/web/src/app/[locale]/shop/SellListSection/EditModal.tsx
  apps/web/src/app/[locale]/shop/SellListSection/index.tsx
  apps/web/src/components/NoticeToast/NoticeToast.tsx
  apps/web/src/lib/react-query/auction.ts
  apps/web/src/lib/react-query/user.ts
  packages/api/src/auction/buyProduct.ts
  packages/api/src/auction/changeProduct.ts
  packages/api/src/auction/deleteProduct.ts
  packages/api/src/auction/getMyProducts.ts
  packages/api/src/auction/index.ts
  packages/api/src/auction/schema.ts
  packages/lib/react-query/src/auction/index.ts
  packages/lib/react-query/src/auction/queries.ts
  packages/lib/react-query/src/auction/useProduct.ts
  packages/lib/react-query/src/coupon/queries.ts
  packages/lib/react-query/src/index.ts
  packages/lib/react-query/src/user/index.ts
  packages/lib/react-query/src/user/queries.ts
Labels: area: Web, diff: XL, area: API, area: Lib

#219 마이페이지 레이아웃 수정 건
  apps/web/src/app/[locale]/mypage/(github-custom)/FarmType.tsx
  apps/web/src/app/[locale]/mypage/(github-custom)/OneType.tsx
  apps/web/src/app/[locale]/mypage/(github-custom)/page.tsx
  apps/web/src/app/[locale]/mypage/layout.tsx
Labels: area: Web, diff: M

#221 refactor: preview, select persona등 로직 분리
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/src/app/[locale]/mypage/(github-custom)/FarmPersonaSelect.tsx
  apps/web/src/app/[locale]/mypage/(github-custom)/FarmType.tsx
  apps/web/src/app/[locale]/mypage/(github-custom)/LinePersonaSelect.tsx
  apps/web/src/app/[locale]/mypage/(github-custom)/LinePreview.tsx
  apps/web/src/app/[locale]/mypage/(github-custom)/OneType.tsx
  apps/web/src/app/[locale]/mypage/(github-custom)/page.tsx
  apps/web/src/app/[locale]/mypage/PersonaList.tsx
  apps/web/src/app/[locale]/mypage/my-pet/page.tsx
Labels: area: Web, diff: XL

#217 배경 구매 기능 추가
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/src/app/[locale]/shop/AuctionSection/ProductTable.tsx
  apps/web/src/app/[locale]/shop/BackgroundSection/BackgroundSection.tsx
  apps/web/src/app/[locale]/shop/PetGotcha/OnePet.tsx
  apps/web/src/app/[locale]/shop/SellListSection/EditModal.tsx
  apps/web/src/app/[locale]/shop/page.tsx
  apps/web/src/components/SelectAnimal.tsx
  apps/web/src/constants/outlink.ts
  apps/web/src/utils/image.ts
  packages/api/src/render/getMyBackground.ts
  packages/api/src/render/index.ts
  packages/api/src/shop/buyBackground.ts
  packages/api/src/shop/getBackground.ts
  packages/api/src/shop/index.ts
  packages/api/src/shop/schema.ts
  packages/lib/react-query/src/auction/index.ts
  packages/lib/react-query/src/auction/product.ts
  packages/lib/react-query/src/index.ts
  packages/lib/react-query/src/render/queries.ts
  packages/lib/react-query/src/shop/background.ts
  packages/lib/react-query/src/shop/index.ts
  packages/lib/react-query/src/shop/queries.ts
Labels: area: Web, diff: L, area: API, area: Lib

#227 마이페이지 > 배경 변경 기능 추가
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/src/app/[locale]/mypage/(github-custom)/FarmBackgroundSelect.tsx
  apps/web/src/app/[locale]/mypage/(github-custom)/FarmPersonaSelect.tsx
  apps/web/src/app/[locale]/mypage/(github-custom)/FarmType.tsx
  apps/web/src/app/[locale]/mypage/(github-custom)/LinePersonaSelect.tsx
  apps/web/src/app/[locale]/mypage/PersonaList.tsx
  apps/web/src/app/[locale]/mypage/my-pet/page.tsx
  apps/web/src/app/[locale]/shop/BackgroundSection/BackgroundSection.tsx
  apps/web/src/app/globals.css
  apps/web/src/components/NoticeToast/notice.tsx
  apps/web/src/styles/scrollStyle.ts
  packages/api/src/render/changeMyBackground.ts
  packages/api/src/render/getMyBackground.ts
  packages/api/src/render/index.ts
  packages/api/src/render/schema.ts
  packages/lib/react-query/src/render/index.ts
  packages/lib/react-query/src/render/user.ts
Labels: area: Web, diff: L, area: API, area: Lib
