Repository git-goods/git-animal-client, pull requests merged in 2024-07, with the labels that each got.

#98 feat: mobile condition 추가
  apps/web/panda.config.ts
Labels: area: Web, diff: XS

#101 [Landing Renewal] Mode Slider Mobile View 추가
  apps/web/src/app/landing/MainSlider.tsx
  packages/ui/token/src/font/glyph.ts
Labels: area: Web, diff: S, area: UI

#104 `@gitanimals/asset/font` 패키지 추가
  apps/web/package.json
  apps/web/src/app/layout.tsx
  packages/asset/font/package.json
  packages/asset/font/product-sans/ProductSans-Black.woff2
  packages/asset/font/product-sans/ProductSans-Bold-Italic.woff2
  packages/asset/font/product-sans/ProductSans-Bold.woff2
  packages/asset/font/product-sans/ProductSans-Light.woff2
  packages/asset/font/product-sans/ProductSans-Medium.woff2
  packages/asset/font/product-sans/ProductSans-Regular-Italic.woff2
  packages/asset/font/product-sans/ProductSans-Regular.woff2
  packages/asset/font/product-sans/ProductSans-Thin.woff2
  packages/asset/font/product-sans/index.css
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: area: Web, diff: S

#110 fix: auto post issue repo 변경
  apps/web/src/apis/github/usePostIssue.ts
  apps/web/src/components/FeedBack/FeedBack.constants.tsx
  apps/web/src/components/FeedBack/FeedBack.tsx
Labels: area: Web, diff: XS

#111 [Landing Renewal] Animal Card Component 생성
  apps/web/public/animal-card/card-bg-A_PLUS.webp
  apps/web/public/animal-card/card-bg-B_MINUS.webp
  apps/web/public/animal-card/card-bg-EX.webp
  apps/web/public/animal-card/card-bg-S_PLUS.webp
  apps/web/public/animal-card/card-thumbnail-A_PLUS.webp
  apps/web/public/animal-card/card-thumbnail-B_MINUS.webp
  apps/web/public/animal-card/card-thumbnail-EX.webp
  apps/web/public/animal-card/card-thumbnail-S_PLUS.webp
  apps/web/src/app/landing/AvailablePetSection/AnimalCardList.tsx
  apps/web/src/app/landing/AvailablePetSection/AvailablePetSection.tsx
  apps/web/src/components/AnimalCard/AnimalCard.constant.ts
  apps/web/src/components/AnimalCard/AnimalCard.style.ts
  apps/web/src/components/AnimalCard/AnimalCard.tsx
  apps/web/src/components/AnimalCard/index.tsx
Labels: area: Web, diff: M

#113 [Landing Renewal] Animal Slider 추가
  apps/web/src/app/landing/AvailablePetSection/AnimalSlider.style.ts
  apps/web/src/app/landing/AvailablePetSection/AnimalSlider.tsx
  apps/web/src/app/landing/AvailablePetSection/AnimalSliderContainer.tsx
  apps/web/src/app/landing/AvailablePetSection/AvailablePetSection.tsx
Labels: area: Web, diff: L

#118 [Landing Renewal] Pet Slider Mobile, Plugin 사용 방식으로 변경
  apps/web/package.json
  apps/web/src/app/landing/AvailablePetSection/AnimalSlider.style.ts
  apps/web/src/app/landing/AvailablePetSection/AnimalSlider.tsx
  apps/web/src/app/landing/AvailablePetSection/AnimalSliderContainerMobile.tsx
  apps/web/src/components/AnimalCard/AnimalCard.tsx
  pnpm-lock.yaml
Labels: area: Web, diff: S

#117 [Landing Renewal] Pet Slider Mobile Version 추가
  apps/web/package.json
  apps/web/src/app/landing/AvailablePetSection/AnimalSlider.style.ts
  apps/web/src/app/landing/AvailablePetSection/AnimalSlider.tsx
  apps/web/src/app/landing/AvailablePetSection/AnimalSliderContainerMobile.tsx
  apps/web/src/components/AnimalCard/AnimalCard.style.ts
  apps/web/src/components/AnimalCard/AnimalCard.tsx
  pnpm-lock.yaml
Labels: area: Web, diff: L

#120 Admin Remix New MonoRepo Create
  apps/admin/.eslintrc.cjs
  apps/admin/.gitignore
  apps/admin/README.md
  apps/admin/app/components/ui/badge/index.tsx
  apps/admin/app/entry.client.tsx
  apps/admin/app/entry.server.tsx
  apps/admin/app/index.css
  apps/admin/app/root.tsx
  apps/admin/app/routes/_index.tsx
  apps/admin/package.json
  apps/admin/panda.config.ts
  apps/admin/postcss.config.cjs
  apps/admin/public/favicon.ico
  apps/admin/tsconfig.json
  apps/admin/vite.config.ts
  apps/web/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Labels: area: Web, diff: XL

#121 dev 환경에서 gtag error fix
  apps/web/src/lib/gtag.ts
Labels: area: Web, diff: XS

#122 Fix: Point 동기화 오류 수정
  apps/web/src/app/mypage/ProfileSection.tsx
  apps/web/src/app/mypage/page.tsx
  apps/web/src/store/user.ts
Labels: area: Web, diff: S

#123 Admin Page Layout 세팅
  apps/admin/app/components/layout/Header/Header.tsx
  apps/admin/app/components/layout/Header/Nav.tsx
  apps/admin/app/components/layout/Header/NavItem.tsx
  apps/admin/app/components/layout/Header/index.ts
  apps/admin/app/components/layout/Header/menu.constants.ts
  apps/admin/app/components/layout/Main/Heading.tsx
  apps/admin/app/components/layout/Main/Main.tsx
  apps/admin/app/components/layout/Main/index.tsx
  apps/admin/app/components/ui/avatar/index.tsx
  apps/admin/app/components/ui/navigation-menu/index.tsx
  apps/admin/app/root.tsx
  apps/admin/app/routes/_index.tsx
  apps/admin/package.json
  pnpm-lock.yaml
Labels: diff: XL

#124 [Admin] 경매장 일괄 구매 기능 추가
  apps/admin/app/QueryClientProvider.tsx
  apps/admin/app/components/Shop/AllBuy/ProductTable.tsx
  apps/admin/app/components/Shop/AllBuy/SortFilter.tsx
  apps/admin/app/components/layout/Header/menu.constants.ts
  apps/admin/app/components/ui/button/index.tsx
  apps/admin/app/components/ui/card/index.tsx
  apps/admin/app/components/ui/checkbox/index.tsx
  apps/admin/app/components/ui/dropdown-menu/index.tsx
  apps/admin/app/components/ui/input/index.tsx
  apps/admin/app/components/ui/table/index.tsx
  apps/admin/app/components/ui/tabs/index.tsx
  apps/admin/app/constants/outlink.ts
  apps/admin/app/cookies.server.ts
  apps/admin/app/hooks/query/action/useBuyProduct.ts
  apps/admin/app/root.tsx
  apps/admin/app/routes/_index.tsx
  apps/admin/app/routes/shop.all-buy.tsx
  apps/admin/app/utils/token.ts
  apps/admin/package.json
  package.json
  packages/api/src/auction/buyProduct.ts
  packages/api/src/auction/getProducts.ts
  packages/api/src/auction/index.ts
  packages/api/src/auction/schema.ts
  packages/api/src/auction/type.ts
  packages/api/src/index.ts
  packages/api/src/utils.ts
  pnpm-lock.yaml
Labels: diff: XL, area: API

#125 feat: dev get token 페이지 추가
  apps/web/src/app/dev/page.tsx
  apps/web/src/app/dev/token/page.tsx
  apps/web/src/app/dev/token/token.style.ts
  apps/web/src/components/Layout/Header.tsx
  apps/web/src/store/user.ts
  apps/web/src/utils/dev.ts
Labels: area: Web, diff: S

#126 [Admin] meta tag 추가
  apps/admin/app/routes/_index.tsx
  apps/admin/public/og-image.png
Labels: diff: XS

#119 [Landing Renewal] Slider Arrow Plugin 추가 - 도움도움 !
  apps/web/src/app/landing/AvailablePetSection/AnimalSliderContainer.tsx
Labels: area: Web, diff: M

#129 푸터 아이콘 적용 + 모바일 핸들링
  apps/web/src/app/landing/Footer/Footer.style.ts
  apps/web/src/app/landing/Footer/Footer.tsx
  apps/web/src/app/landing/Footer/TeammateProfile.style.ts
  apps/web/src/app/landing/Footer/TeammateProfile.tsx
  packages/ui/icon/src/icons/BehanceIcon.tsx
  packages/ui/icon/src/index.ts
  packages/ui/token/src/font/glyph.ts
Labels: area: Web, diff: S, area: UI

#128 `@gitanimals/icon` 패키지 + 홈페이지 analyze
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/src/app/landing/Footer/Footer.style.ts
  apps/web/src/app/landing/Footer/Footer.tsx
  apps/web/src/app/landing/Footer/TeammateProfile.style.ts
  apps/web/src/app/landing/Footer/TeammateProfile.tsx
  package.json
  packages/ui/icon/.eslintrc.js
  packages/ui/icon/package.json
  packages/ui/icon/src/Svg.tsx
  packages/ui/icon/src/icons/BehanceIcon.tsx
  packages/ui/icon/src/icons/GithubIcon.tsx
  packages/ui/icon/src/icons/LinkMonoIcon.tsx
  packages/ui/icon/src/icons/types.ts
  packages/ui/icon/src/index.ts
  packages/ui/icon/tsconfig.json
  packages/ui/token/src/font/glyph.ts
  pnpm-lock.yaml
Labels: area: Web, diff: L, area: UI

#115 [Landing Renewal] 푸터 팀 영역
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/public/teammate/devxb.webp
  apps/web/public/teammate/hyesungoh.webp
  apps/web/public/teammate/sumi.webp
  apps/web/public/teammate/yuna.webp
  apps/web/src/app/landing/Footer/Footer.style.ts
  apps/web/src/app/landing/Footer/Footer.tsx
  apps/web/src/app/landing/Footer/TeammateProfile.style.ts
  apps/web/src/app/landing/Footer/TeammateProfile.tsx
  package.json
  packages/ui/icon/.eslintrc.js
  packages/ui/icon/package.json
  packages/ui/icon/src/Svg.tsx
  packages/ui/icon/src/icons/BehanceIcon.tsx
  packages/ui/icon/src/icons/GithubIcon.tsx
  packages/ui/icon/src/icons/LinkMonoIcon.tsx
  packages/ui/icon/src/icons/types.ts
  packages/ui/icon/src/index.ts
  packages/ui/icon/tsconfig.json
  packages/ui/token/src/font/glyph.ts
  pnpm-lock.yaml
Labels: area: Web, diff: S

#114 [Landing Renewal] 푸터 레포지토리 영역
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/public/teammate/devxb.webp
  apps/web/public/teammate/hyesungoh.webp
  apps/web/public/teammate/sumi.webp
  apps/web/public/teammate/yuna.webp
  apps/web/src/app/landing/Footer/Footer.style.ts
  apps/web/src/app/landing/Footer/Footer.tsx
  apps/web/src/app/landing/Footer/TeammateProfile.style.ts
  apps/web/src/app/landing/Footer/TeammateProfile.tsx
  apps/web/src/app/landing/Footer/index.ts
  apps/web/src/app/page.tsx
  package.json
  packages/ui/icon/.eslintrc.js
  packages/ui/icon/package.json
  packages/ui/icon/src/Svg.tsx
  packages/ui/icon/src/icons/BehanceIcon.tsx
  packages/ui/icon/src/icons/GithubIcon.tsx
  packages/ui/icon/src/icons/LinkMonoIcon.tsx
  packages/ui/icon/src/icons/types.ts
  packages/ui/icon/src/index.ts
  packages/ui/icon/tsconfig.json
  packages/ui/token/src/font/glyph.ts
  pnpm-lock.yaml
Labels: area: Web, diff: XL, area: UI

#131 Shop 이라는 네이밍을 Auction(경매장)으로 변경
  apps/admin/app/components/Auction/AllBuy/ProductTable.tsx
  apps/admin/app/components/Auction/AllBuy/SortFilter.tsx
  apps/admin/app/components/layout/Header/Nav.tsx
  apps/admin/app/components/layout/Header/menu.constants.ts
  apps/admin/app/components/shop/drop-pet/ProductTable.tsx
  apps/admin/app/routes/auction.all-buy.tsx
  apps/admin/app/routes/shop.drop-pet.tsx
  packages/api/src/index.ts
  packages/api/src/render/getAllPets.ts
  packages/api/src/render/index.ts
Labels: diff: L, area: API

#135 feat: choose section desktop/mobile 추가
  apps/web/.eslintrc.json
  apps/web/public/main/choose-pet-bg-mobile.webp
  apps/web/public/main/choose-pet-bg-pc.webp
  apps/web/src/app/landing/ChoosePetSection/ChoosePetSection.style.ts
  apps/web/src/app/landing/ChoosePetSection/ChoosePetSection.tsx
  apps/web/src/app/landing/ChoosePetSection/index.ts
  apps/web/src/app/page.tsx
  packages/ui/panda/package.json
Labels: area: Web, diff: S, area: UI

#136 feat: Landing 페이지에 login button 추가
  apps/web/src/app/landing/ChoosePetSection/ChoosePetSection.tsx
  apps/web/src/app/landing/MainSection/MainSection.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/LoginButton.tsx
Labels: area: Web, diff: XS

#137 Google Sheet를 이용한 Logging
  apps/web/package.json
  apps/web/src/app/api/googleSheet/route.ts
  apps/web/src/app/dev/page.tsx
  apps/web/src/utils/log.ts
  package.json
  pnpm-lock.yaml
Labels: area: Web, diff: L

#138 feat: feedback form 제출하는 곳에 logging 추가
  apps/web/src/components/FeedBack/FeedBack.tsx
  pnpm-lock.yaml
Labels: area: Web, diff: XL

#139 [Landing Renewal] Next/image Error fix (withBundleAnalyzer 제거)
  apps/web/next.config.mjs
  apps/web/src/app/page.tsx
Labels: area: Web, diff: XL, area: UI

#144 서버 점검 시간 안내 추가
  apps/web/src/app/CheckTime.tsx
  apps/web/src/app/Welcome.tsx
  apps/web/src/app/api/oauth/route.ts
  apps/web/src/app/page.tsx
  apps/web/src/components/LoginButton.tsx
Labels: area: Web, diff: S

#145 fix api route pre-render issue
  apps/web/src/app/api/oauth/route.ts
  pnpm-lock.yaml
Labels: area: Web, diff: XL

#146 점검시간 연장
  apps/web/src/app/CheckTime.tsx
  apps/web/src/app/Welcome.tsx
  apps/web/src/app/api/oauth/route.ts
  apps/web/src/components/LoginButton.tsx
Labels: area: Web, diff: XS
