Repository git-goods/git-animal-client, pull requests merged in 2025-04, with the labels that each got.

#307 Feat/update card game
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/package.json
  apps/web/src/app/[locale]/shop/_petGotcha/OnePet.tsx
  apps/web/src/app/[locale]/shop/_petGotcha/PetGotcha.tsx
  apps/web/src/components/CardGame/FanDrawingGame/CardMotion.tsx
  apps/web/src/components/CardGame/FanDrawingGame/FanDrawingGame.tsx
  packages/ui/panda/src/components/Dialog/Dialog.styles.ts
  packages/ui/panda/src/components/Dialog/Dialog.tsx
  pnpm-lock.yaml
Labels: area: Web, diff: XL, area: UI

#311 chore: set default on error and throw on error
  apps/web/src/apis/QueryClientProvider.tsx
Labels: area: Web, diff: XS

#310 Feat: dayjs extend문 wrapping util package 추가
  apps/web/package.json
  packages/lib/dayjs/package.json
  packages/lib/dayjs/src/index.ts
  packages/lib/dayjs/src/timezone.test.ts
  packages/lib/dayjs/src/timezone.ts
  packages/lib/dayjs/tsconfig.json
  pnpm-lock.yaml
Labels: area: Web, diff: L, area: Lib

#314 fix: Persona 타입 불일치에 따른 물품 금액 수정 오류 해결
  packages/api/src/auction/changeProduct.ts
Labels: diff: XS, area: API

#315 Chore: quiz api, queries 추가
  apps/web/src/app/[locale]/quiz/_components/MobileLayout.tsx
  apps/web/src/app/[locale]/quiz/page.tsx
  apps/web/src/app/[locale]/quiz/solve/_components/notStarted/SelectCategorySection.tsx
  apps/web/src/app/[locale]/quiz/solve/_components/solving/SolvingQuizSection.tsx
  packages/api/src/index.ts
  packages/api/src/quiz/answerQuiz.ts
  packages/api/src/quiz/createQuiz.ts
  packages/api/src/quiz/createQuizContext.ts
  packages/api/src/quiz/getQuiz.ts
  packages/api/src/quiz/getQuizToday.ts
  packages/api/src/quiz/getRoundResult.ts
  packages/api/src/quiz/index.ts
  packages/api/src/quiz/quiz.ts
  packages/api/src/quiz/schema.ts
  packages/api/src/quiz/stopContext.ts
  packages/lib/react-query/src/index.ts
  packages/lib/react-query/src/quiz/index.ts
  packages/lib/react-query/src/quiz/queries.ts
  pnpm-lock.yaml
Labels: area: Web, area: API, area: Lib

#317 Quiz 다국어 기능 지원
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/src/app/[locale]/quiz/_components/CreateOrSolve/SelectQuizType.tsx
  apps/web/src/app/[locale]/quiz/_components/CreateOrSolve/SolveQuizConfirmDialog.tsx
  apps/web/src/app/[locale]/quiz/_hooks/useTodayQuizData.ts
  apps/web/src/app/[locale]/quiz/_utils/quiz.intl.ts
  apps/web/src/app/[locale]/quiz/create/_components/QuizCreateForm.tsx
  apps/web/src/app/[locale]/quiz/create/page.tsx
  apps/web/src/app/[locale]/quiz/page.tsx
  apps/web/src/app/[locale]/quiz/solve/_components/done/CompleteAlertDialog.tsx
  apps/web/src/app/[locale]/quiz/solve/_components/fail/FailAlertDialog.tsx
  apps/web/src/app/[locale]/quiz/solve/_components/notStarted/SelectCategorySection.tsx
  apps/web/src/app/[locale]/quiz/solve/_components/solving/SolvingQuizSection.tsx
  apps/web/src/app/[locale]/quiz/solve/_components/success/CorrectConfirmDialog.tsx
  apps/web/src/app/[locale]/quiz/solve/_hooks/useQuizAction.ts
Labels: area: Web, diff: L

#322 [Rank] Top Banner UI and Animation 추가
  apps/web/public/main/section1_bg-pc.webp
  apps/web/src/app/[locale]/landing/MainSection/MainSection.style.ts
  apps/web/src/app/[locale]/landing/MainSection/MainSection.tsx
  apps/web/src/app/[locale]/landing/MainSection/TopBanner.tsx
  apps/web/src/app/[locale]/page.tsx
  apps/web/src/app/globals.css
  packages/ui/panda/package.json
  packages/ui/panda/src/animation/SplitText/SplitText.stories.tsx
  packages/ui/panda/src/animation/SplitText/SplitText.tsx
  packages/ui/panda/src/animation/SplitText/index.ts
  packages/ui/panda/src/animation/index.ts
  packages/ui/panda/src/index.ts
  packages/ui/panda/src/theme/tokens.ts
  pnpm-lock.yaml
Labels: area: Web, diff: L, area: UI

#323 [Rank] Top Banner API 연결
  apps/web/src/app/[locale]/landing/MainSection/MainSection.tsx
  apps/web/src/app/[locale]/landing/MainSection/TopBanner.tsx
  packages/api/src/ranks/getRankHistories.ts
  packages/api/src/ranks/index.ts
  packages/lib/react-query/src/rank/queries.ts
Labels: area: Web, diff: M, area: API, area: Lib
