Repository git-goods/git-animal-client, pull requests merged in 2025-03, with the labels that each got.

#288 fix: 스타일 꺠지는거 수정
  apps/web/src/app/[locale]/shop/_auction/index.tsx
Labels: area: Web, diff: XS

#289 PWA 구성 추가
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/public/manifest.json
  apps/web/public/sw.js
  apps/web/public/workbox-01fd22c6.js
  apps/web/src/app/layout.tsx
  pnpm-lock.yaml
Labels: area: Web, diff: XL

#292 minor한 style 이슈 해결
  .gitignore
  apps/web/package.json
  apps/web/public/sw.js
  apps/web/src/app/[locale]/guild/_components/GuildPeopleList.tsx
  apps/web/src/app/[locale]/landing/MainSection/MainSection.style.ts
  apps/web/src/app/[locale]/mypage/(github-custom)/LinePreview.tsx
  apps/web/src/app/[locale]/mypage/layout.tsx
  apps/web/src/app/[locale]/mypage/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/Gitanimals.tsx
  pnpm-lock.yaml
Labels: area: Web, diff: S

#293 feat: vercel analytics 추가
  apps/web/package.json
  apps/web/src/components/Global/Monitoring.tsx
  pnpm-lock.yaml
Labels: area: Web, diff: XS

#294 meta title, icon 추가
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/public/app-icon.png
  apps/web/public/icons/icon-192x192.png
  apps/web/public/icons/icon-512x512.png
  apps/web/src/app/[locale]/guild/page.tsx
  apps/web/src/app/[locale]/laboratory/page.tsx
  apps/web/src/app/[locale]/layout.tsx
  apps/web/src/app/[locale]/mypage/page.tsx
  apps/web/src/app/[locale]/page.tsx
  apps/web/src/app/[locale]/shop/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/hooks/useDeviceInfo.tsx
Labels: area: Web, diff: M

#301 Quiz UI 1차 개발
  apps/web/public/quiz/cursor-choiced.webp
  apps/web/public/quiz/cursor-unchoiced.webp
  apps/web/public/quiz/ox_o.webp
  apps/web/public/quiz/ox_x.webp
  apps/web/public/quiz/quiz-bg-raw.webp
  apps/web/public/quiz/quiz-bg.webp
  apps/web/public/quiz/quiz-cat.webp
  apps/web/public/quiz/quiz-coin.svg
  apps/web/public/quiz/quiz-coin.webp
  apps/web/public/quiz/quiz-double-coin.webp
  apps/web/src/app/[locale]/quiz/_common/BackGround.tsx
  apps/web/src/app/[locale]/quiz/_common/MobileLayout.tsx
  apps/web/src/app/[locale]/quiz/_createOrSolve/CreateOrSolveSection.tsx
  apps/web/src/app/[locale]/quiz/_createOrSolve/QuizTypeCard.tsx
  apps/web/src/app/[locale]/quiz/_createOrSolve/SelectQuizType.tsx
  apps/web/src/app/[locale]/quiz/_createOrSolve/SolveQuizConfirmDialog.tsx
  apps/web/src/app/[locale]/quiz/create/CreateQuizSection.tsx
  apps/web/src/app/[locale]/quiz/create/QuizField.tsx
  apps/web/src/app/[locale]/quiz/create/QuizTextArea.tsx
  apps/web/src/app/[locale]/quiz/create/page.tsx
  apps/web/src/app/[locale]/quiz/layout.tsx
  apps/web/src/app/[locale]/quiz/page.tsx
  apps/web/src/app/[locale]/quiz/solve/(status)/_done/CompleteAlertDialog.tsx
  apps/web/src/app/[locale]/quiz/solve/(status)/_fail/FailAlertDialog.tsx
  apps/web/src/app/[locale]/quiz/solve/(status)/_notStarted/SelectCategorySection.tsx
  apps/web/src/app/[locale]/quiz/solve/(status)/_solving/QuizProgressBar.tsx
  apps/web/src/app/[locale]/quiz/solve/(status)/_solving/SolvingQuizSection.tsx
  apps/web/src/app/[locale]/quiz/solve/(status)/_solving/useQuizAction.ts
  apps/web/src/app/[locale]/quiz/solve/(status)/_solving/useQuizDialog.ts
  apps/web/src/app/[locale]/quiz/solve/(status)/_solving/useQuizDialogStatus.ts
  apps/web/src/app/[locale]/quiz/solve/(status)/_success/CorrectConfirmDialog.tsx
  apps/web/src/app/[locale]/quiz/solve/SolveQuizContext.tsx
  apps/web/src/app/[locale]/quiz/solve/SolveQuizSection.tsx
  apps/web/src/app/[locale]/quiz/solve/page.tsx
  apps/web/src/app/[locale]/quiz/solve/solveQuiz.constants.ts
  apps/web/src/components/Tabs/Tabs.tsx
  apps/web/src/components/Tabs/TabsList.tsx
  apps/web/src/components/Tabs/TabsTrigger.tsx
  apps/web/src/components/Tabs/useTabs.ts
  packages/ui/panda/src/components/Dialog/Dialog.tsx
Labels: area: Web, diff: XL, area: UI

#299 Game Console UI 추가
  apps/web/src/app/[locale]/landing/RankingSection/GameConsole/GameConsole.tsx
  apps/web/src/app/[locale]/landing/RankingSection/GameConsole/GameScreen.tsx
  apps/web/src/app/[locale]/landing/RankingSection/GameConsole/Joystick.tsx
  apps/web/src/app/[locale]/landing/RankingSection/GameConsole/MotionButton.tsx
  apps/web/src/app/[locale]/landing/RankingSection/GameConsole/PixelNoiseEffect.tsx
  apps/web/src/app/[locale]/landing/RankingSection/GameConsole/SvgContainer.tsx
  apps/web/src/app/[locale]/landing/RankingSection/RankingSection.tsx
  apps/web/src/app/[locale]/page.tsx
Labels: area: Web, diff: XL

#300 Ranking View 추가
  apps/web/.eslintrc.json
  apps/web/public/rank/icon_crown_1.svg
  apps/web/public/rank/icon_crown_2.svg
  apps/web/public/rank/icon_crown_3.svg
  apps/web/src/app/[locale]/landing/RankingSection/RankingLink.tsx
  apps/web/src/app/[locale]/landing/RankingSection/RankingSection.tsx
  apps/web/src/app/[locale]/landing/RankingSection/RankingTable.tsx
  apps/web/src/app/[locale]/landing/RankingSection/TopPodium.tsx
  apps/web/src/app/globals.css
  packages/api/src/index.ts
  packages/api/src/ranks/getRanks.ts
  packages/api/src/ranks/index.ts
  packages/api/src/ranks/types.ts
  packages/lib/react-query/src/index.ts
  packages/lib/react-query/src/rank/index.ts
  packages/lib/react-query/src/rank/queries.ts
  packages/ui/panda/src/theme/tokens.ts
Labels: area: Web, diff: L, area: API, area: UI, area: Lib

#302 랭킹 단상 애니매이션 추가
  apps/web/src/app/[locale]/landing/RankingSection/RankingSection.tsx
  apps/web/src/app/[locale]/landing/RankingSection/TopPodium.tsx
Labels: area: Web, diff: XL, area: API, area: UI, area: Lib

#297 Panda UI 패키지에 storybook 세팅
  .gitignore
  package.json
  packages/ui/panda/.eslintrc.js
  packages/ui/panda/.storybook/globals.css
  packages/ui/panda/.storybook/main.ts
  packages/ui/panda/.storybook/preview.ts
  packages/ui/panda/package.json
  packages/ui/panda/postcss.config.cjs
  packages/ui/panda/src/components/Button/Button.stories.tsx
  pnpm-lock.yaml
  turbo.json
Labels: diff: L, area: UI

#304 Card 컴포넌트 디자인 시스템 수정
  packages/ui/panda/.storybook/main.ts
  packages/ui/panda/public/animal-card/card-back-A_PLUS.webp
  packages/ui/panda/public/animal-card/card-back-B_MINUS.webp
  packages/ui/panda/public/animal-card/card-back-EX.webp
  packages/ui/panda/public/animal-card/card-back-S_PLUS.webp
  packages/ui/panda/public/animal-card/card-bg-A_PLUS.webp
  packages/ui/panda/public/animal-card/card-bg-B_MINUS.webp
  packages/ui/panda/public/animal-card/card-bg-EX.webp
  packages/ui/panda/public/animal-card/card-bg-S_PLUS.webp
  packages/ui/panda/public/animal-card/card-thumbnail-A_PLUS.webp
  packages/ui/panda/public/animal-card/card-thumbnail-B_MINUS.webp
  packages/ui/panda/public/animal-card/card-thumbnail-EX.webp
  packages/ui/panda/public/animal-card/card-thumbnail-S_PLUS.webp
  packages/ui/panda/src/components/Card/GameCard.stories.tsx
  packages/ui/panda/src/components/Card/GameCard.tsx
  packages/ui/panda/src/components/Card/constants.ts
  packages/ui/panda/src/components/Card/index.ts
  packages/ui/panda/tsconfig.json
Labels: diff: L, area: UI

#305 변경된 Card 디자인 시스템 적용
  apps/web/src/app/[locale]/shop/_petGotcha/CardFlipGame.tsx
  apps/web/src/app/[locale]/shop/_petGotcha/TenCardFlipGame.tsx
  apps/web/src/components/AnimalCard/AnimalCard.tsx
  packages/ui/panda/src/components/Card/Card.tsx
  packages/ui/panda/src/components/Card/GameCard.tsx
  packages/ui/panda/src/components/Card/index.ts
Labels: area: Web, diff: M, area: UI
