Repository git-goods/git-animal-client, pull requests merged in 2025-02, with the labels that each got.

#280 Guild Mobile 화면 대응
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/src/app/[locale]/auth/page.tsx
  apps/web/src/app/[locale]/event/(common)/BackgroundSlider/Arrow.tsx
  apps/web/src/app/[locale]/event/(common)/Draw.tsx
  apps/web/src/app/[locale]/event/(common)/EventEndOverlay.tsx
  apps/web/src/app/[locale]/event/(halloween)/Content.tsx
  apps/web/src/app/[locale]/guild/(subpage)/[id]/layout.tsx
  apps/web/src/app/[locale]/guild/(subpage)/[id]/page.tsx
  apps/web/src/app/[locale]/guild/(subpage)/[id]/setting/GuidlInfoFormClient.tsx
  apps/web/src/app/[locale]/guild/(subpage)/detail/GuildDetail.tsx
  apps/web/src/app/[locale]/guild/_components/GuildCard.tsx
  apps/web/src/app/[locale]/guild/_components/GuildModalPageLayout.tsx
  apps/web/src/app/[locale]/guild/_components/GuildPeopleList.tsx
  apps/web/src/app/[locale]/guild/_components/GuildSearch.tsx
  apps/web/src/app/[locale]/guild/layout.tsx
  apps/web/src/app/[locale]/guild/page.tsx
  apps/web/src/app/[locale]/landing/AvailablePetSection/AnimalSliderContainer.tsx
  apps/web/src/app/[locale]/landing/AvailablePetSection/AnimalSliderContainerMobile.tsx
  apps/web/src/app/[locale]/landing/AvailablePetSection/AvailablePetSection.style.ts
  apps/web/src/app/[locale]/landing/ChoosePetSection/ChoosePetSection.style.ts
  apps/web/src/app/[locale]/landing/MainSection/MainSection.style.ts
  apps/web/src/app/[locale]/landing/MainSection/MainSlider.tsx
  apps/web/src/app/[locale]/mypage/layout.tsx
  apps/web/src/app/[locale]/mypage/my-pet/(merge)/MergePersona.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/Background.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/index.tsx
  apps/web/src/app/[locale]/shop/BackgroundSection/BackgroundSection.tsx
  apps/web/src/app/[locale]/shop/FloatingPointSection/FloatingPointSection.tsx
  apps/web/src/app/[locale]/shop/PetGotcha/PetGotcha.tsx
  apps/web/src/app/[locale]/shop/page.tsx
  apps/web/src/app/globals.css
  apps/web/src/components/CheckTime.tsx
  apps/web/src/components/GNB/DesktopGNB.tsx
  apps/web/src/components/GNB/LanguageSelector.tsx
  apps/web/src/components/GNB/MobileGNB.tsx
  apps/web/src/components/GNB/Notification/InboxList.tsx
  apps/web/src/components/GNB/Notification/notification.contants.ts
  apps/web/src/components/Global/FeedbackForm.tsx
  apps/web/src/components/PageModal/index.tsx
  apps/web/src/components/RouteModal.tsx
  apps/web/src/components/Select/Label.tsx
  apps/web/src/components/Select/Panel.tsx
  apps/web/src/components/Slider/PerspectiveCenterSlider.tsx
  apps/web/src/components/TextArea.tsx
  packages/ui/panda/src/components/Banner/BannerPetSelect.tsx
  packages/ui/panda/src/components/Banner/cva.ts
  packages/ui/panda/src/components/SearchBar/SearchBar.tsx
  packages/ui/panda/src/theme/tokens.ts
Labels: area: Web, diff: M, area: UI

#282 Shop 페이지 모바일 대응 #1. Pet Gotcha 섹션
  apps/web/public/shop/pet-gotcha-bg-m.webp
  apps/web/src/app/[locale]/shop/FloatingPointSection/FloatingPointSection.tsx
  apps/web/src/app/[locale]/shop/PetGotcha/PetGotcha.tsx
  apps/web/src/app/[locale]/shop/page.tsx
Labels: area: Web, diff: S

#283 Shop 페이지 모바일 대응 #2. Auction Mobile 대응
  apps/web/src/app/[locale]/shop/AuctionSection/HistoryTable.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/PersonaSearch.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/ProductTable.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/SellSection/PetList.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/SellSection/SellInputRow.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/SellSection/SellSection.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/Tab.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/index.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/table.styles.ts
  apps/web/src/app/[locale]/shop/PetGotcha/PetGotcha.tsx
  apps/web/src/app/[locale]/shop/SellListSection/index.tsx
  apps/web/src/components/ProductTable/ShopTableMobileRow.tsx
  apps/web/src/hooks/persona/useGetPersonaDropRate.ts
  apps/web/src/utils/image.ts
  packages/ui/panda/src/components/Banner/cva.ts
  packages/ui/panda/src/components/Dialog/Dialog.styles.ts
Labels: area: Web, diff: L, area: UI

#285 자잘한 Shop 코드 리팩토링 및 반응형 대응
  apps/web/src/app/[locale]/mypage/my-pet/SelectedPetTable.tsx
  apps/web/src/app/[locale]/shop/AuctionSection/SellSection/index.ts
  apps/web/src/app/[locale]/shop/_auction/Background.tsx
  apps/web/src/app/[locale]/shop/_auction/DefaultTabRight.tsx
  apps/web/src/app/[locale]/shop/_auction/HistoryTable.tsx
  apps/web/src/app/[locale]/shop/_auction/MySellList.tsx
  apps/web/src/app/[locale]/shop/_auction/PersonaSearch.tsx
  apps/web/src/app/[locale]/shop/_auction/ProductTable.tsx
  apps/web/src/app/[locale]/shop/_auction/SellSection/EditModal.tsx
  apps/web/src/app/[locale]/shop/_auction/SellSection/PetList.tsx
  apps/web/src/app/[locale]/shop/_auction/SellSection/SellInputRow.tsx
  apps/web/src/app/[locale]/shop/_auction/SellSection/SellSection.tsx
  apps/web/src/app/[locale]/shop/_auction/Tab.tsx
  apps/web/src/app/[locale]/shop/_auction/index.tsx
  apps/web/src/app/[locale]/shop/_auction/table.styles.ts
  apps/web/src/app/[locale]/shop/_background/BackgroundSection.tsx
  apps/web/src/app/[locale]/shop/_common/FloatingPointSection.tsx
  apps/web/src/app/[locale]/shop/_common/ShopTableMobileRow.tsx
  apps/web/src/app/[locale]/shop/_petGotcha/CardFlipGame.tsx
  apps/web/src/app/[locale]/shop/_petGotcha/OnePet.tsx
  apps/web/src/app/[locale]/shop/_petGotcha/PetGotcha.tsx
  apps/web/src/app/[locale]/shop/_petGotcha/TenCardFlipGame.tsx
  apps/web/src/app/[locale]/shop/_petGotcha/TenPet.tsx
  apps/web/src/app/[locale]/shop/_petGotcha/index.ts
  apps/web/src/app/[locale]/shop/_petGotcha/useCheckEnoughMoney.ts
  apps/web/src/app/[locale]/shop/page.tsx
  apps/web/src/components/GNB/LanguageSelector.tsx
  apps/web/src/components/ProductTable/ShopTableMobileRow.tsx
  apps/web/src/components/ProductTable/ShopTableRowView.tsx
  apps/web/src/constants/action.ts
  apps/web/src/hooks/persona/useGetPersonaDropRate.ts
  apps/web/src/utils/image.ts
Labels: area: Web, diff: XL

#287 Shop 페이지 모바일 대응 #4. Gotcha Card 모바일 대응
  apps/web/src/app/[locale]/shop/_petGotcha/CardFlipGame.tsx
  apps/web/src/app/[locale]/shop/_petGotcha/OnePet.tsx
  apps/web/src/app/[locale]/shop/_petGotcha/TenCardFlipGame.tsx
  apps/web/src/app/[locale]/shop/_petGotcha/TenPet.tsx
  packages/ui/panda/src/components/Card/Card.tsx
Labels: area: Web, diff: S, area: UI
