Repository git-goods/git-animal-client, pull requests merged in 2025-09, with the labels that each got.

#342 퀴즈 관련 파일 webview_history -> web 단순 이전
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/package.json
  apps/web/public/assets/game/quiz/cursor-choiced.webp
  apps/web/public/assets/game/quiz/cursor-unchoiced.webp
  apps/web/public/assets/game/quiz/ox_o.webp
  apps/web/public/assets/game/quiz/ox_x.webp
  apps/web/public/assets/game/quiz/quiz-bg-raw.webp
  apps/web/public/assets/game/quiz/quiz-bg.webp
  apps/web/public/assets/game/quiz/quiz-cat.webp
  apps/web/public/assets/game/quiz/quiz-coin.svg
  apps/web/public/assets/game/quiz/quiz-coin.webp
  apps/web/public/assets/game/quiz/quiz-double-coin.webp
  apps/web/src/app/[locale]/game/layout.tsx
  apps/web/src/app/[locale]/game/page.tsx
  apps/web/src/app/[locale]/game/quiz/_components/BackGround.tsx
  apps/web/src/app/[locale]/game/quiz/_components/CreateOrSolve/QuizTypeCard.tsx
  apps/web/src/app/[locale]/game/quiz/_components/CreateOrSolve/SelectQuizType.tsx
  apps/web/src/app/[locale]/game/quiz/_components/CreateOrSolve/SolveQuizConfirmDialog.tsx
  apps/web/src/app/[locale]/game/quiz/_components/MobileLayout.tsx
  apps/web/src/app/[locale]/game/quiz/_constants/quiz.constants.ts
  apps/web/src/app/[locale]/game/quiz/_hooks/useTodayQuizData.ts
  apps/web/src/app/[locale]/game/quiz/_utils/quiz.intl.ts
  apps/web/src/app/[locale]/game/quiz/create/_components/QuizCreateForm.tsx
  apps/web/src/app/[locale]/game/quiz/create/_components/QuizField.tsx
  apps/web/src/app/[locale]/game/quiz/create/_components/QuizTextArea.tsx
  apps/web/src/app/[locale]/game/quiz/create/page.tsx
  apps/web/src/app/[locale]/game/quiz/layout.tsx
  apps/web/src/app/[locale]/game/quiz/page.tsx
  apps/web/src/app/[locale]/game/quiz/solve/_components/done/CompleteAlertDialog.tsx
  apps/web/src/app/[locale]/game/quiz/solve/_components/fail/FailAlertDialog.tsx
  apps/web/src/app/[locale]/game/quiz/solve/_components/notStarted/SelectCategorySection.tsx
  apps/web/src/app/[locale]/game/quiz/solve/_components/solving/QuizProgressBar.tsx
  apps/web/src/app/[locale]/game/quiz/solve/_components/solving/SolvingQuizSection.tsx
  apps/web/src/app/[locale]/game/quiz/solve/_components/success/CorrectConfirmDialog.tsx
  apps/web/src/app/[locale]/game/quiz/solve/_constants/solveQuiz.constants.ts
  apps/web/src/app/[locale]/game/quiz/solve/_hooks/useQuizAction.ts
  apps/web/src/app/[locale]/game/quiz/solve/_hooks/useQuizData.ts
  apps/web/src/app/[locale]/game/quiz/solve/_hooks/useQuizDialogStatus.ts
  apps/web/src/app/[locale]/game/quiz/solve/page.tsx
  apps/web/src/components/Layout/TabBar.tsx
  apps/web/src/components/Tabs/Tabs.tsx
  apps/web/src/components/Tabs/TabsList.tsx
  apps/web/src/components/Tabs/TabsTrigger.tsx
  apps/web/src/components/Tabs/useTabs.ts
  apps/web/src/constants/route.ts
  pnpm-lock.yaml
Labels: area: Web, diff: XL

#344 [Feat] 진화 기능 추가
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/package.json
  apps/web/public/assets/mypage/evolution/evolution-empty.svg
  apps/web/src/app/[locale]/landing/RankingSection/RankingServerSide.tsx
  apps/web/src/app/[locale]/layout.tsx
  apps/web/src/app/[locale]/mypage/PersonaList.tsx
  apps/web/src/app/[locale]/mypage/my-pet/(evolution)/EvolutionPersona.tsx
  apps/web/src/app/[locale]/mypage/my-pet/(evolution)/EvolutionResult.tsx
  apps/web/src/app/[locale]/mypage/my-pet/(evolution)/index.ts
  apps/web/src/app/[locale]/mypage/my-pet/(merge)/MergePersona.tsx
  apps/web/src/app/[locale]/mypage/my-pet/(merge)/MergePreview.tsx
  apps/web/src/app/[locale]/mypage/my-pet/SelectedPetTable.tsx
  apps/web/src/app/[locale]/mypage/my-pet/_components/PersonaBanner.tsx
  apps/web/src/app/[locale]/mypage/my-pet/_components/SelectPersonaList.tsx
  apps/web/src/app/[locale]/mypage/my-pet/_components/SpinningLoader.tsx
  apps/web/src/app/[locale]/mypage/my-pet/page.tsx
  apps/web/src/app/globals.css
  apps/web/src/components/Global/ClientProvider.tsx
  apps/web/src/lib/devtools/constants.ts
  apps/web/src/lib/devtools/devtools.ts
  packages/api/src/_instance/safe.ts
  packages/api/src/render/evolution/checkPersonaEvolution.ts
  packages/api/src/render/evolution/evolutionPersona.ts
  packages/api/src/render/evolution/index.ts
  packages/api/src/render/index.ts
  packages/api/src/render/schema.ts
  packages/lib/react-query/src/render/evolution.ts
  packages/lib/react-query/src/render/index.ts
  packages/ui/panda/src/components/Dialog/CommonDialog.tsx
  packages/ui/panda/src/components/Dialog/index.ts
  pnpm-lock.yaml
Labels: area: Web, diff: XL, area: API, area: UI, area: Lib

#343 quiz mobile web 페이지 개선
  apps/web/messages/en_US.json
  apps/web/messages/ko_KR.json
  apps/web/public/layout/gitanimals-string-logo-white.svg
  apps/web/src/app/[locale]/dev/page.tsx
  apps/web/src/app/[locale]/game/layout.tsx
  apps/web/src/app/[locale]/game/quiz/_components/CreateOrSolve/SelectQuizType.tsx
  apps/web/src/app/[locale]/game/quiz/_components/MobileLayout.tsx
  apps/web/src/app/[locale]/game/quiz/create/_components/QuizCreateForm.tsx
  apps/web/src/app/[locale]/game/quiz/create/page.tsx
  apps/web/src/app/[locale]/game/quiz/layout.tsx
  apps/web/src/app/[locale]/game/quiz/page.tsx
  apps/web/src/components/DevMode/DevModePage.tsx
Labels: area: Web, diff: M
